/* ================================
    #Default-Styles
================================ */
body {
    background-color: var(--gray-500);
}





a {
    color: var(--blue-200);
}

a:hover {
    color: var(--blue-400);
}





.row-light {
    color: var(--gray-100);
    background-color: var(--gray-700);
}

.row-dark {
    background-color: var(--gray-600);
}

.row-warning {
    color: var(--gray-100);
    background-color: var(--yellow-300);
    border-left: 4px solid var(--yellow-200);
}



/*
    * These rules extend .button {} in _globals.scss
*/
.button {
    color: var(--gray-700);
    background-color: var(--blue-200);
}

.button--hollow {
    color: var(--blue-200);
    background-color: transparent;
    border: 2px solid var(--blue-200);
}

.button--inactive {
    color: var(--blue-200);
    background-color: var(--blue-700);
}

.button--active {
    color: var(--gray-700);
    background-color: var(--blue-200);
}






.table {
    color: var(--gray-100);
    border-color: var(--blue-600);
  }

.table-striped > tbody > tr:nth-of-type(odd) {
    color: var(--gray-100);
    background-color: var(--gray-600);
}





/* ================================
    #Header-Template-Styles
================================ */

/* #Logo-Area */
.title {
    color: var(--gray-100);
}





.search {
    color: var(--gray-200);
    background-color: var(--gray-700);
    border: 1px solid var(--gray-500);
}

/*
    * These rules extend .search {} in _globals.scss
*/

.search--small {
    border: 1px solid var(--gray-500);
}

textarea, input {
    border: 1px solid var(--gray-500);
}




/* #Banner-Area */
.banner__content {
    background-color: var(--green-200);
}

.banner > a {
    color: var(--gray-700);
}

.banner > a:hover {
    color: var(--green-200);
    background-color: var(--gray-700);
}





/* =============================
    #Home-Page-Template-Start
================================ */
.card {
    background-color: var(--gray-700);
}

/*
    * These rules extend .card {} in _globals.scss
*/

.card--quick-action {
    border-top: 24px solid var(--blue-200);
}






/* =============================
    #Common-Questions
================================ */
.question-block {
    background-color: var(--gray-600);
}





/* =============================
    #Request-Page
================================ */
ul[data-hc-pills-container] {
    background-color: var(--gray-700);
}





.pagination > ul > li {
    
    background-color: var(--blue-200);
}

.pagination > ul > li > a {
    color: var(--gray-700);
}

.pagination > ul > li > a:hover {
    color: var(--blue-400);
}





/* ================================
    #Footer
================================ */
.footer {
    background-color: var(--blue-700);
}

.social {
    color: var(--gray-100);
    background-color: var(--gray-700);
}





/* =============================
    #Canteen-Overrides
================================ */
.canteen-branded {
    border-color: #a5cf4f;
}

.canteen-branded > a {
    color: #a5cf4f;
}

.canteen-branded > a:hover {
    color: #409f68;
}
