/* ================================
    _overrides.scss
================================ */
body {
    background-color: var(--raisin-400);
}

a {
    color: var(--platinum-800);
}

a:hover {
    color: var(--yale-500);
}

details[open] {
    background-color: var(--gray-100);
    border-bottom: 1px solid var(--gray-300);
}

details[open] > summary {
    background-color: var(--gray-100);
    border-bottom: 1px solid var(--gray-300);
}





/* ================================
    _layout.scss
================================ */
.row-light {
    color: var(--platinum-800);
    background-color: var(--raisin-400);
}

.row-dark {
    color: var(--platinum-800);
    background-color: var(--raisin-500);
}





/* ================================
    _animations.scss
================================ */
.loading-container {
    border-bottom: 2px solid var(--yale-400);
}

.loading-container::before {
    border-bottom: 2px solid var(--raisin-400);
}





/* ================================
    _breadcrumbs.scss
================================ */
.breadcrumbs-container li {
    color: var(--gray-700);
}





/* ================================
    _buttons.scss
================================ */
.button {
    color: var(--platinum-800);
    background-color: var(--yale-400);
}

.button:hover {
    background-color: var(--yale-500);
}





/* ================================
    _callouts.scss
================================ */
.banner-callout__info {
    color: var(--gray-700);
    background-color: var(--blue-100);
}

.banner-callout__warning {
    color: var(--gray-700);
    background-color: var(--yellow-100);
}

.banner-callout__alert {
    color: var(--gray-700);
    background-color: var(--red-100);
}





.inline-callout__info {
    background-color: var(--blue-100);
    border-left: 12px solid var(--blue-200);
}

.inline-callout__success {
    background-color: var(--green-100);
    border-left: 12px solid var(--green-200);
}

.inline-callout__warning {
    background-color: var(--yellow-100);
    border-left: 12px solid var(--yellow-200);
}

.inline-callout__alert {
    background-color: var(--red-100);
    border-left: 12px solid var(--red-200);
}





/* ================================
    _cards.scss
================================ */
.card {
    color: var(--platinum-800);
    background-color: var(--raisin-400);
}

.card__cap {
    color: var(--platinum-800);
    background-color: var(--yale-400);
}





/* ================================
    _pagination.scss
================================ */
.pagination > ul > li {

    background-color: var(--blue-100);
}

.pagination > ul > li > a {
    color: var(--gray-700);
}

.pagination > ul > li > a:hover {
    color: var(--blue-400);
}





/* ================================
    _search.scss
================================ */
.search {
    color: var(--platinum-200);
    background-color: var(--raisin-400);
    border: 1px solid var(--platinum-200);
}





/* ================================
    _tables.scss
================================ */
.table {
    color: var(--gray-700);
    border-color: var(--blue-600);
  }

.table-striped > tbody > tr:nth-of-type(odd) {
    color: var(--gray-700);
    background-color: var(--gray-200);
}

.table__sticky-header {
    color: var(--gray-700);
    background-color: var(--blue-100);
}





/* ================================
    _typography.scss
================================ */
.heading {
    color: var(--gray-700);
}

.subheading {
    color: var(--gray-700);
}





/* ================================
    _header.scss
================================ */
.logo path.logo__outer {
    fill: var(--platinum-800);
}

.logo path.logo__inner {
    fill: var(--platinum-800);
}

.logo path.logo__type {
    fill: var(--platinum-800);
}

.site-title {
    color: var(--platinum-800);
}

.subheader {
    background-color: var(--raisin-500);
}

.banner a {
    color: var(--platinum-800);
    background-color: var(--jungle-400);
}

.banner a:hover {
    color: var(--platinum-800);
    background-color: var(--jungle-300);
}





/* =============================
    _home-page.scss
================================ */
.question-block {
    background-color: var(--gray-300);
}

.new-articles-feed__article-title {
    color: var(--blue-400);
}





/* ================================
    _articles.scss
================================ */
.article-sidebar {
    color: var(--gray-700);
    background-color: var(--gray-200);
    border: 1px solid var(--gray-500);
}

.article-inner pre {
    color: var(--gray-700);
    background-color: var(--gray-200);
}

.article-inner code {
    color: var(--red-200);
    background-color: var(--gray-200);
}





/* =============================
    _requests.scss
================================ */
ul[data-hc-pills-container] {
    background-color: var(--gray-300);
}

ul[data-hc-pills-container] li[data-hc-pill="true"] {
    background-color: var(--gray-200);
}

ul[data-hc-pills-container] li:last-child input {
    color: var(--gray-700);
    background-color: transparent;
}

#request_organization_id_hint,
#request_description_hint {
    color: var(--gray-500) !important;
}

.upload-dropzone {
    background-color: var(--gray-300);
}

.request-form > footer > input,
.requests-filter div > button {
    color: var(--gray-700);
    background-color: var(--blue-100);
}

.nesty-input,
select {
    color: var(--gray-700);
    background-color: var(--gray-300);
}

#request_subject {
    color: var(--gray-700);
}

#request_description {
    color: var(--gray-700);
}





/* ================================
    _footer.scss
================================ */
.footer {
    background-color: var(--gray-200);
}

.social {
    color: var(--gray-700);
    background-color: var(--gray-100);
}





/* =============================
    #Canteen-Overrides
================================ */
.canteen-branded {
    border-color: #a5cf4f;
}

.canteen-branded > a {
    color: #a5cf4f;
}

.canteen-branded > a:hover {
    color: #409f68;
}
