/* ================================
    _overrides.scss
================================ */
body {
    background-color: var(--platinum-800);
}

a {
    color: var(--space-cadet-400);
}

a:hover {
    color: var(--yale-400);
}

details[open] {
    background-color: var(--gray-700);
    border-bottom: 1px solid var(--gray-300);
}

details[open] > summary {
    background-color: var(--gray-700);
    border-bottom: 1px solid var(--gray-300);
}





/* ================================
    _layout.scss
================================ */
.row-light {
    color: var(--raisin-400);
    background-color: var(--platinum-800);
}

.row-dark {
    color: var(--raisin-400);
    background-color: var(--platinum-400);
}





/* ================================
    _animations.scss
================================ */
.loading-container {
    border-bottom: 2px solid var(--yale-400);
}

.loading-container::before {
    border-bottom: 2px solid var(--raisin-400);
}





/* ================================
    _buttons.scss
================================ */
.button {
    color: var(--platinum-800);
    background-color: var(--space-cadet-400);
}

.button:hover {
    color: var(--platinum-800);
    background-color: var(--yale-400);
}

.button--active {
    color: var(--platinum-800);
    background-color: var(--saffron-400);
}

.button--active:hover {
    color: var(--platinum-800);
    background-color: var(--saffron-500);
}

.button--subscribe button[data-selected="true"] {
    width: 100%;
    height: 100%;
    color: var(--platinum-800);
    background-color: var(--saffron-400);
}

.button--subscribe button[data-selected="true"]:hover {
    color: var(--platinum-800);
    background-color: var(--saffron-500);
}





/* ================================
    _callouts.scss
================================ */
.banner-callout__info {
    color: var(--gray-700);
    background-color: var(--blue-400);
}

.banner-callout__warning {
    color: var(--gray-100);
    background-color: var(--yellow-200);
}

.banner-callout__alert {
    color: var(--gray-700);
    background-color: var(--red-200);
}





.inline-callout__info {
    background-color: var(--blue-600);
    border-left: 12px solid var(--blue-200);
}

.inline-callout__success {
    background-color: var(--green-300);
    border-left: 12px solid var(--green-200);
}

.inline-callout__warning {
    background-color: var(--yellow-300);
    border-left: 12px solid var(--yellow-200);
}

.inline-callout__alert {
    background-color: var(--red-300);
    border-left: 12px solid var(--red-200);
}





/* ================================
    _cards.scss
================================ */
.card {
    color: var(--raisin-400);
    background-color: var(--platinum-800);
}

.card__cap {
    color: var(--platinum-800);
    background-color: var(--space-cadet-400);
}

a.card__title {
    color: var(--platinum-800);
}

a.card__title:hover {
    color: var(--yale-500);
}

.sub-navigation {
    background-color: var(--platinum-400);
}

.sub-navigation:hover {
    background-color: var(--platinum-500);
}





/* ================================
    _pagination.scss
================================ */
.pagination > ul > li {
    
    background-color: var(--blue-200);
}

.pagination > ul > li > a {
    color: var(--gray-700);
}

.pagination > ul > li > a:hover {
    color: var(--blue-400);
}





/* ================================
    _search.scss
================================ */
.search {
    color: var(--platinum-200);
    background-color: var(--platinum-800);
    border: 1px solid var(--platinum-200);
}





/* ================================
    _tables.scss
================================ */
.table {
    color: var(--gray-100);
    border-color: var(--blue-600);
  }

.table-striped > tbody > tr:nth-of-type(odd) {
    color: var(--gray-100);
    background-color: var(--gray-600);
}

.table__sticky-header {
    color: var(--gray-700);
    background-color: var(--blue-400);
}





/* ================================
    _header.scss
================================ */
.logo path.logo__outer {
    fill: var(--raisin-400);
}

.logo path.logo__inner {
    fill: var(--yale-400);
}

.logo path.logo__type {
    fill: var(--raisin-400);
}

.site-title {
    color: var(--raisin-400);
}

.subheader {
    background-color: var(--platinum-500);
}

.banner a {
    color: var(--platinum-800);
    background-color: var(--jungle-400);
}

.banner a:hover {
    color: var(--platinum-800);
    background-color: var(--jungle-500);
}





/* =============================
    _home-page.scss
================================ */





/* ================================
    _articles.scss
================================ */
.article-sidebar {
    background-color: var(--platinum-500);
}

.article-inner pre {
    color: var(--gray-100);
    background-color: var(--gray-600);
}

.article-inner code {
    color: var(--red-200);
    background-color: var(--gray-600);
    border: 1px solid var(--gray-500);
}

.sub-navigation--light {
    background-color: var(--platinum-600);
}

.sub-navigation--light:hover {
    background-color: var(--platinum-700);
}





/* =============================
    _requests.scss
================================ */
ul[data-hc-pills-container] {
    background-color: var(--gray-700);
}

#request_organization_id_hint,
#request_description_hint {
    color: var(--gray-300) !important;
}

.request-form > footer > input,
.requests-filter div > button {
    color: var(--gray-700);
    background-color: var(--blue-200);
}

#request_subject {
    color: var(--gray-100);
}

#request_description {
    color: var(--gray-100);
}





/* ================================
    _footer.scss
================================ */
.social {
    color: var(--raisin-400);
}





/* =============================
    #Canteen-Overrides
================================ */
.canteen-branded {
    border-color: #a5cf4f;
}

.canteen-branded > a {
    color: #a5cf4f;
}

.canteen-branded > a:hover {
    color: #409f68;
}
