<!-- Serve Error Template as ZD Community is disabled -->
<div class="container">
    <div class="row error_page">
        <div class="col-12 error_content">
            <div class="error-title">
                Sorry, item not found
            </div>
            <div class="error-desc">
                Please return the product to the shelf or cooler
            </div>

            <img src="{{asset 'sad_kiosk.svg'}}" alt="" width="196" height="196" title="(｡•́︿•̀｡)"/>

            <div class="error-info">
                The page you were looking for doesn't exist<br/>
                You may have mistyped the address or the page may have moved
            </div>
        </div>

        <div class="col-2"></div>
        <div class="col-8 error_content">
            <a href="{{page_path 'help_center'}}" class="error_button">
                Return to the 365 HelpCenter
                <i class="ph-arrow-u-up-left"></i>
            </a>
        </div>
        <div class="col-2"></div>

    </div>
</div>
<!-- End Error Page Template -->
