<!-- Start Error Page Template -->
<div class="container">
    <div class="row text-align--center">
        
        <div class="col-12 padded-content center-align row-light">
            <div class="heading">
                Sorry, item not found
            </div>
            <div class="subheading">
                Please return the product to the shelf or cooler
            </div>
        </div>

        <div class="col-12 padded-content centered-content row-dark">
            <img src="{{asset 'sad_kiosk.svg'}}" alt="" width="196" height="196" title="(｡•́︿•̀｡)"/>

            <div>
                The page you were looking for doesn't exist<br/>
                You may have mistyped the address or the page may have moved
            </div>
        </div>

        <div class="col-12 padded-content centered-content row-dark">
            <a href="{{page_path 'help_center'}}" class="button">
                Return to the 365 HelpCenter
                <i class="ph-arrow-u-up-left"></i>
            </a>
        </div>

    </div>
</div>
<!-- End Error Page Template -->
