<!-- Start Footer Template -->
<div class="container d-print-none">
    <div class="row footer">

        <div class="col-sm-12 col-md-6 quick_links">
            <div class="quick_links-title">Quick Links</div>
            <ul class="quick_links-content">
                <a href="https://www.365retailmarkets.com">
                    <li>365retailmarkets.com</li>
                </a>
                <a href="https://status.365retailmarkets.com">
                    <li>System Status</li>
                </a>
                <a href="https://adm.365retailmarkets.com/public/login">
                    <li>ADM</li>
                </a>
                <a href="https://live.air-vend.com/authentication-page?__AUTHURL=https%3a%2f%2flive.app.air-vend.com%2fAccount%2fVerifyAuth">
                    <li>AirVend Live</li>
                </a>
                <a href="https://smarthq.365retailmarkets.com/smarthq/">
                    <li>SmartHQ</li>
                </a>
                <a href="https://365retailmarkets.com/consumer-policy">
                    <li>Privacy Policy/Terms of Service</li>
                </a>
            </ul>
        </div>

        <div class="col-sm-12 col-md-6 contact_info">
            <div class="contact_info-title">Contact Us</div>
            <ul class="contact_info-content">
                <a href="{{page_path 'new_request'}}">
                    <li>Submit a Ticket</li>
                </a>
                <a href="mailto:support@365smartshop.com">
                    <li>support@365smartshop.com</li>
                </a>

                <br/>
                
                <a href="tel:8883656282">
                    <li>(888) 365-6282 - US Support</li>
                </a>

                <a href="tel:+448001456152">
                    <li>+44 800 145 6152 - UK Support</li>
                </a>
                <a href="tel:+390282952763">
                    <li>+39 028 295 2763 - Italy Support</li>
                </a>
                <a href="tel:+35315133414">
                    <li>+353 15 133 414 - Ireland Support</li>
                </a>
                <a href="tel:+611800931693">
                    <li>+61 1800 931 693 - Australia Support</li>
                </a>
                <a href="tel:+41800001444">
                    <li>+41 80-000-14-44 - Switzerland Support</li>
                </a>
                <a href="#">
                    <li>(85) 31852081654 - Netherlands Support</li>
                </a>
                <a href="tel:+34902018641">
                    <li>+34 902 018 641 - Spain Support</li>
                </a>
                <a href="tel:+330186655122">
                    <li>+33 01 86 65 51 22 - France Support</li>
                </a>
                <a href="tel:+49091198104000">
                    <li>0049 (0) 911 98104000 - Germany Support</li>
                </a>
                <a href="#">
                    <li>(78) 3278485593 - Belgium Support</li>
                </a>
            </ul>
        </div>
    </div>

    <div class="row footer footer_logo">
            <img class="col-12" src="{{asset '365logo_WHITE_2018.svg'}}" alt="365 Retail Markets logo" width="80" height="80" title="365 Retail Markets"/>
    </div>

    <div class="row footer footer_social">
        <div class="col-12">
            <a href="https://www.facebook.com/365RetailMarkets">
                <i class="ph-facebook-logo"></i>
            </a>

            <a href="https://twitter.com/365retailmarket">
                <i class="ph-twitter-logo"></i>
            </a>

            <a href="https://youtube.com/365retailmarkets">
                <i class="ph-instagram-logo"></i>
            </a>

            <a href="https://instagram.com/365retailmarkets">
                <i class="ph-linkedin-logo"></i>
            </a>

            <a href="https://www.linkedin.com/company/365-retail-markets">
                <i class="ph-youtube-logo"></i>
            </a>
        </div>

        <div class="col-12 copyright">
            &copy; 2021 365 Retail Markets | All Rights Reserved
        </div>
    </div>
</div>
<!-- End Footer Template -->
