<!-- Start Footer Template -->
<footer class="container d-print-none">
    <div class="row row-dark py-lg footer">

        <div class="col-sm-12 col-md-6">
            <div class="heading">Quick Links</div>

            <ul>
                <li>
                    <a href="https://www.365retailmarkets.com">
                        365retailmarkets.com
                    </a>
                </li>

                <li>
                    <a href="https://status.365retailmarkets.com">
                        System Status
                    </a>
                </li>

                <li>
                    <a href="https://adm.365retailmarkets.com/public/login">
                        ADM
                    </a>
                </li>

                <li>
                    <a href="https://live.air-vend.com">
                        AirVend Live
                    </a>
                </li>

                <li>
                    <a href="https://smarthq.365retailmarkets.com/smarthq/">
                        SmartHQ
                    </a>
                </li>

                <li>
                    <a href="https://365retailmarkets.com/consumer-policy">
                        Privacy Policy/Terms of Service
                    </a>
                </li>

                <br/>
            </ul>

        </div>

        <div class="col-sm-12 col-md-6">
            <div class="heading">Contact Us</div>

            <ul>
                <li>
                    <a class="button button--sm mb-sm" href="{{page_path 'new_request'}}">
                        Submit a Ticket
                    </a>
                </li>

                <li>

                    <details>
                        <summary>
                            <i class="ph ph-envelope"></i>
                            Support Email Addresses
                        </summary>
                        <ul>

                            <li>
                                <a href="mailto:support@365smartshop.com">
                                    support@365smartshop.com - 365 Support
                                </a>
                            </li>

                            <li>
                                <a href="mailto:support@avantimarkets.com">
                                    support@avantimarkets.com - Avanti Markets Support
                                </a>
                            </li>

                            <li>
                                <a href="mailto:cksupport@365smartshop.com">
                                    cksupport@365smartshop.com - CK Support
                                </a>
                            </li>

                            <li>
                                <a href="mailto:lightspeedsupport@365smartshop.com">
                                    lightspeedsupport@365smartshop.com - Lightspeed Support
                                </a>
                            </li>

                            <li>
                                <a href="mailto:support@stockwell.ai">
                                    support@stockwell.ai - Stockwell Support
                                </a>
                            </li>

                            <li>
                                <a href="mailto:support@parlevelsystems.com">
                                    support@parlevelsystems.com - Parlevel Support
                                </a>
                            </li>

                            <li>
                                <a href="mailto:avsupport@365smartshop.com">
                                    avsupport@365smartshop.com - Vending (AV) Support
                                </a>
                            </li>
                        </ul>
                    </details>
                </li>

                <li>

                    <details>
                        <summary>
                            <i class="ph ph-phone"></i>
                            Support Phone Numbers
                        </summary>
                        <ul>
                            <li>
                                <a href="tel:8883656282">
                                    (888) 365-6282 - 365 US Support
                                </a>
                            </li>
                            <li>
                                <a href="tel:8446954675">
                                    (844) 695-4675 - Avanti Markets Support
                                </a>
                            </li>
                            <li>
                                <a href="tel:8884005744">
                                    (888) 400-5744 - Lightspeed Support
                                </a>
                            </li>
                            <li>
                                <a href="tel:8555646677">
                                    (855) 564-6677 - CK Support
                                </a>
                            </li>
                            <li>
                                <a href="tel:8003219601">
                                    (800) 321-9601 - AirVend Support
                                </a>
                            </li>
                            <li>
                                <a href="tel:8558419036">
                                    (855) 841-9036 - Stockwell Support
                                </a>
                            </li>
                        </ul>
                    </details>
                </li>

                <li>
                    
                    <details>
                        <summary>
                            <i class="ph ph-globe"></i>
                            International Support Numbers
                        </summary>

                        <ul>
                            <li>
                                <a href="tel:+448001456152">
                                    +44 800 145 6152 - UK Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+390282952763">
                                    +39 028 295 2763 - Italy Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+3531800851269">
                                    +353 1800 851 269 - Ireland Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+611800931693">
                                    +61 1800 931 693 - Australia Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+41800001444">
                                    +41 80-000-14-44 - Switzerland Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+318003510060">
                                    +31 8003510060 - Netherlands Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+34900933294">
                                    +34 900 933 294 - Spain Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+33801840539">
                                    +33 801840539 - France Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+49091198104000">
                                    0049 (0) 911 98104000 - Germany Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+3280015450">
                                    +32 80015450 - Belgium Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+35280081189">
                                    +35 280081189 - Luxembourg Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+358800413856">
                                    +35 8800413856 - Denmark Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+358800413856">
                                    +35 8800413856 - Finland Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+43800232935">
                                    +43 800232935 - Austria Support
                                </a>
                            </li>
                        </ul>
                    </details>

                    
                </li>
                
            </ul>
        </div>
    </div>

    <div class="row footer social text-align--center py-lg">
        
        <svg class="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0" y="0" viewBox="0 0 80 80"
            xml:space="preserve">
            <path class="logo__outer" d="M40 76a36 36 0 1 1 31.5-18.7l3.5 2.1A40 40 0 1 0 40 80h.6v-4.1H40z" />
            <path class="logo__inner"
                d="M43 12.1a28 28 0 1 1-27 14l-2.8-2a31.2 31.2 0 0 0 32.9 46.6A31.3 31.3 0 0 0 71 34.1 30.6 30.6 0 0 0 43 8.7v3.4z" />
            <path class="logo__type"
                d="M48 74.8h.4l.8 4.2-1.2.2-.3-1.9-.7 1.1h-.2l-1-.8.3 2-1.1.1-.8-4.2.4-.1 2 1.5 1.4-2.1zM51.8 75.5l-.1 1.2.9-.3-.9-1zm1.4 1.7-1.6.5v.6l-1 .4-.1-.2.5-4.6.4-.2 3.2 3.4v.2l-1 .3-.4-.4zM56.2 72.9l-.7.3.4 1 .7-.3c.6-.3.2-1.3-.4-1zm3 2v.2l-1 .6-1.3-.8-.5.2.5 1.2-1 .4-1.9-3.9 1.7-.8c1.6-.7 2.7 1 2 2.1l1.5.9zM60.8 72.3l-.1.6.6.9-.9.6-2.3-3.6.9-.5 1 1.5v-.6l.1-1.7 1.1-.7-.2 2.4 2.5 1.2-1 .7zM64.6 67.2l-1.2 1 .3.5 1.2-1 .6.8-1.1 1 .5.6 1.2-1 .7.7-2.2 1.7-2.7-3.3 2-1.7.7.7zM65.4 66.5a45 45 0 0 0-.7-.7l2.2-2.3.7.6-.7.8 2.4 2.3-.7.8-2.5-2.3-.7.8zM71.3 62.8c-.2-.2-.5 0-.7.4-.7.7-1.3 1-2 .4-1.6-1 .5-3.8 2-2.6l-.7.8c-.5-.3-1.1.6-.7 1 .2.2.5 0 .7-.3.6-.7 1.2-1.3 2-.6 1.5 1-.6 4-2 2.8l.6-1c.4.4 1.3-.6.8-1zM49 39.7l1.2-10.3H62V33h-8l-.4 4 1.3-.5a6 6 0 0 1 1.6-.2c2 0 3.5.6 4.6 1.8 1 1.2 1.6 2.8 1.6 5 0 1.3-.3 2.5-.9 3.5a6 6 0 0 1-2.4 2.4 8.2 8.2 0 0 1-7.3 0c-1-.4-2-1.1-2.6-2-.6-1-1-2-.9-3.1h4.7c0 .7.3 1.3.7 1.7.4.5 1 .7 1.7.7 1.5 0 2.3-1.2 2.3-3.5 0-2.2-1-3.2-2.8-3.2-1.1 0-2 .3-2.5 1l-3.7-.9zM40.1 39.7a2.6 2.6 0 0 0-2.4 1.5v1.4c0 2.5.8 3.8 2.6 3.8.7 0 1.3-.3 1.8-1 .5-.6.7-1.4.7-2.3 0-1-.2-1.8-.7-2.4-.5-.7-1.2-1-2-1zm4.2-10.4v3.6h-.2a7 7 0 0 0-4.3 1.3c-1.1.8-1.8 2-2 3.5 1-1 2.3-1.6 4-1.6a5 5 0 0 1 4.1 2c1 1.2 1.6 2.9 1.6 5a7 7 0 0 1-1 3.5c-.5 1-1.4 1.9-2.5 2.5a7.5 7.5 0 0 1-7.4 0c-1.2-.7-2-1.6-2.7-2.9-.6-1.2-1-2.6-1-4.1v-2c0-2 .5-3.9 1.4-5.5.9-1.7 2.2-3 3.8-4a11 11 0 0 1 5.5-1.3h.7zM22.2 37.7h2.2c1.7 0 2.6-.9 2.6-2.6 0-.6-.2-1.2-.6-1.6-.5-.4-1-.6-1.8-.6-.6 0-1.2.1-1.6.5-.5.4-.7.8-.7 1.3h-4.7c0-1 .3-2 1-2.8.5-.8 1.3-1.5 2.4-2 1-.4 2.2-.7 3.4-.7 2.3 0 4 .6 5.3 1.6 1.3 1 2 2.4 2 4.2 0 .9-.3 1.7-.8 2.5s-1.3 1.4-2.4 1.9c1.1.4 2 1 2.6 1.7.6.8.9 1.8.9 3 0 1.8-.7 3.2-2.1 4.3S26.7 50 24.4 50c-1.3 0-2.5-.2-3.6-.8-1.2-.5-2-1.2-2.6-2-.6-1-.9-2-.9-3H22c0 .5.3 1 .8 1.5s1 .7 1.8.7 1.5-.2 2-.7c.5-.5.7-1 .7-1.7 0-1-.2-1.8-.8-2.2-.5-.4-1.2-.6-2-.6h-2.3v-3.5zM17.3 19.5l-.6.6.8.7.6-.6c.4-.4-.4-1.1-.8-.7zm3.5.8.1.1-.8 1-1.4-.4-.4.5 1 .8-.8.8-3.2-2.8 1.2-1.4c1.2-1.3 2.9-.2 2.7 1.1l1.6.3zM21.7 15.4l-1.2 1 .4.5 1.1-1 .6.8-1.1 1 .5.5 1.3-1 .6.8c-.8.6-1.4 1-2.1 1.7L19 16.4l2.1-1.7.6.7zM23 14.5l-.5-.8 2.7-1.6.5.8-.9.5 1.7 2.9-1 .5L24 14l-1 .5zM28.7 12.3v1.3l.9-.4-1-.9zm1.6 1.6-1.6.7v.6l-1 .4-.1-.2.2-4.6.5-.2 3.3 3.2v.1l-1 .4-.3-.4zM34.7 12.2l.2 1-2.1.5-.2-1 .5-.1-.5-2.3-.5.1-.2-.9 2-.5.2.9-.5.2.5 2.3zM37.5 11.8l1.6-.1v1l-2.6.2-.4-4.3h1.1l.3 3.2z" />
        </svg>

        <div class="col-12 social-icons">
            <a href="https://www.facebook.com/365RetailMarkets" aria-label="Link to 365 Retail Markets Facebook page.">
                <i class="ph ph-facebook-logo"></i>
            </a>

            <a href="https://twitter.com/365retailmarket" aria-label="Link to 365 Retail Markets Twitter page.">
                <i class="ph ph-twitter-logo"></i>
            </a>

            <a href="https://instagram.com/365retailmarkets" aria-label="Link to 365 Retail Markets Instagram page.">
                <i class="ph ph-instagram-logo"></i>
            </a>

            <a href="https://www.linkedin.com/company/365-retail-markets" aria-label="Link to 365 Retail Markets LinkedIn page.">
                <i class="ph ph-linkedin-logo"></i>
            </a>

            <a href="https://youtube.com/365retailmarkets" aria-label="Link to 365 Retail Markets YouTube channel.">
                <i class="ph ph-youtube-logo"></i>
            </a>
        </div>

        <div class="col-12">
            &copy; 2022 365 Retail Markets | All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer Template -->