<!-- Start Footer Template -->
<footer class="container">
    <div class="row footer">

        <div class="col-sm-12 col-md-6">
            <div class="heading">Quick Links</div>

            <ul>
                <li>
                    <a href="https://www.365retailmarkets.com" class="link">
                        365retailmarkets.com
                    </a>
                </li>

                <li>
                    <a href="https://status.365retailmarkets.com" class="link">
                        System Status
                    </a>
                </li>

                <li>
                    <a href="https://adm.365retailmarkets.com/public/login" class="link">
                        ADM
                    </a>
                </li>

                <li>
                    <a href="https://live.air-vend.com" class="link">
                        AirVend Live
                    </a>
                </li>

                <li>
                    <a href="https://smarthq.365retailmarkets.com/smarthq/" class="link">
                        SmartHQ
                    </a>
                </li>

                <li>
                    <a href="https://365retailmarkets.com/consumer-policy" class="link">
                        Privacy Policy/Terms of Service
                    </a>
                </li>

                <br/>
            </ul>

        </div>

        <div class="col-sm-12 col-md-6">
            <div class="heading">Contact Us</div>
            <ul>
                <li>
                    <a href="{{page_path 'new_request'}}" class="link">
                        Submit a Ticket
                    </a>
                </li>

                <li>
                    <a href="mailto:support@365smartshop.com" class="link">
                        support@365smartshop.com
                    </a>
                </li>
                
                <li>
                    <a href="tel:8883656282" class="link">
                        (888) 365-6282 - US Support
                    </a>
                </li>

                <li>
                    <details>
                        <summary class="subheading padding-bottom-only">
                            International Support Numbers
                        </summary>

                        <ul>
                            <li>
                                <a href="tel:+448001456152" class="link">
                                    +44 800 145 6152 - UK Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+390282952763" class="link">
                                    +39 028 295 2763 - Italy Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+3531800851269" class="link">
                                    +353 1800 851 269 - Ireland Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+611800931693" class="link">
                                    +61 1800 931 693 - Australia Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+41800001444" class="link">
                                    +41 80-000-14-44 - Switzerland Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+318003510060" class="link">
                                    +31 8003510060 - Netherlands Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+34900933294" class="link">
                                    +34 900 933 294 - Spain Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+33801840539" class="link">
                                    +33 801840539 - France Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+49091198104000" class="link">
                                    0049 (0) 911 98104000 - Germany Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+3280015450" class="link">
                                    +32 80015450 - Belgium Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+35280081189" class="link">
                                    +35 280081189 - Luxembourg Support
                                </a>
                            </li>
                            
                            <li>
                                <a href="tel:+358800413856" class="link">
                                    +35 8800413856 - Denmark Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+358800413856" class="link">
                                    +35 8800413856 - Finland Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+43800232935" class="link">
                                    +43 800232935 - Austria Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+4620127023" class="link">
                                    +46 20127023 - Sweden Support
                                </a>
                            </li>

                            <li>
                                <a href="tel:+4780024740" class="link">
                                    +47 80024740 - Norway Support
                                </a>
                            </li>
                        </ul>
                    </details>
                </li>
                
            </ul>
        </div>
    </div>

    <div class="row footer social">
        <picture class="col-12 logo">
            <source
                srcset="{{asset 'logo-white.svg'}}"
                media="(prefers-color-scheme: dark)">
            <img src="{{asset 'logo-color.svg'}}" alt="Three Six Five Retail Markets logo" width="80" height="80">
        </picture>

        <div class="col-12">
            <a href="https://www.facebook.com/365RetailMarkets" class="link" aria-label="Link to 365 Retail Markets Facebook page.">
                <i class="ph-facebook-logo"></i>
            </a>

            <a href="https://twitter.com/365retailmarket" class="link" aria-label="Link to 365 Retail Markets Twitter page.">
                <i class="ph-twitter-logo"></i>
            </a>

            <a href="https://instagram.com/365retailmarkets" class="link" aria-label="Link to 365 Retail Markets Instagram page.">
                <i class="ph-instagram-logo"></i>
            </a>

            <a href="https://www.linkedin.com/company/365-retail-markets" class="link" aria-label="Link to 365 Retail Markets LinkedIn page.">
                <i class="ph-linkedin-logo"></i>
            </a>

            <a href="https://youtube.com/365retailmarkets" class="link" aria-label="Link to 365 Retail Markets YouTube channel.">
                <i class="ph-youtube-logo"></i>
            </a>
        </div>

        <div class="col-12">
            &copy; 2021 365 Retail Markets | All Rights Reserved
        </div>
    </div>
</footer>
<!-- End Footer Template -->
