<section class="hc-header">

	<div id="alert_container">
		<a href="https://365retailmarkets.zendesk.com/hc/en-us/articles/360000574193">
			<div class="alert-banner" style="background-color: #2555d9; color: #fff;">
				Review Kiosk Cleaning Best Practices Here
			</div>
		</a>
	</div>


	<nav class="menu">
		<ol>
			<li class="menu-item"><a href="{{page_path 'help_center'}}"><img src="{{asset 'Logo.png'}}" class="logo"><a/></li>
			<li class="menu-item">
				<a href="#0">
					<form class="navbar-form search-small search-placement" role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
						<input name="utf8" type="hidden" value="✓">
						<input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search the 365 Help Center"><button type="submit" name="commit" class="search-small-button">
							<i class="glyphicon glyphicon-search form-group"></i>
						</button>
					</form>
				</a></li>
			<li class="menu-item" id="resources_button">
				<a href="#0">Resources</a>
			</li>

			<li class="menu-item"><a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002185954-Release-Notes">Release Notes</a></li>
			<div class="release_notes_notify no_notes"></div>

			<li class="menu-item" id="my-support-logout">
				<a href="#0">My Support</a>
				<ol class="sub-menu">
					<li class="menu-item"><a id="user-profile-link">View Dashboard</a></li>
					<li class="menu-item">
						<a href="{{page_path 'new_request'}}">Submit a Ticket</a>
					</li>
					<li class="menu-item"><a href="/hc/en-us/requests">Ticket History</a></li>
					<li class="menu-item"><a href="https://365retailmarkets.zendesk.com/hc/en-us/subscriptions?filter_by=articles">Saved Resources</a></li>
					<li class="menu-item"><a href="/access/logout?return_to=https%3A%2F%2F365retailmarkets.zendesk.com%2Fhc%2Fen-us">Sign Out</a></li>
				</ol>
			</li>

			<li class="menu-item" id="my-support-login"><a href="https://365retailmarkets.zendesk.com/hc/en-us/signin?return_to=https%3A%2F%2F365retailmarkets.zendesk.com">Sign In</a></li>
		</ol>
	</nav>

	<div id="resources_dropdown">
		<ol>
			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946554">Legacy</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964373">V5</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964433">NanoMarket</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946854">ReadyTouch</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946914">SmartHQ</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964793">ADM</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964853">Airvend</a>
			</li>
		</ol>

		<ol>
			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947034">Beacon</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947074">365Pay App</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964893">Equipment Maintenance</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964913">Camera Security Systems</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947114">PicoMarket</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964953">Zendesk</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947134">CxEngage</a>
			</li>
		</ol>

		<ol>
			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964973">International</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964993">Social Feedia</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001965013">Support Procedures</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001965073">Additional Docs</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947554">Wing Cards</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002064033">Integrations</a>
			</li>

			<li>
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002716534-365-Retail-Markets-Things-to-Know-">365 Things to Know!</a>
			</li>
		</ol>
	</div>

</section>
<!-- /Nav -->

<script>
	$('#resources_button').click(function() {
		$('#resources_dropdown').toggle(500);
	});
</script>
