<section class="hc-header">

	<a href="https://365retailmarkets.zendesk.com/hc/en-us/articles/360034907654-Pick-List-Changes-to-ADM-9-5-2019"><div class="alert_banner">New Pick List Manager information available here!</div></a>

	<nav class="help-center-navigation nav" id="hc-nav">
		<a href="https://365retailmarkets.zendesk.com/hc/en-us">
			<div class="circle"><img class="new-logo" src="https://theme.zdassets.com/theme_assets/2031453/5b805b898e23dd626aedfa0332f0086060beb550.png" style="height:78px; width:auto;"></div>
		</a>
		<!-- Nav -->
		<ul class="nav-list">
			<li class="nav-item" id="nav-search">
				<form class="navbar-form search-small search-placement" role="search" data-search="" data-instant="true" autocomplete="off" action="/hc/en-us/search" accept-charset="UTF-8" method="get">
					<input name="utf8" type="hidden" value="✓">
					<input type="search" name="query" id="query" placeholder="Search" autocomplete="off" aria-label="Search the 365 Help Center"><button type="submit" name="commit" class="search-small-button">
						<i class="glyphicon glyphicon-search form-group"></i>
					</button>
				</form>
			</li>

			<li class="nav-item resource-header">
				<a>Resources</a>
				<ul class="nav-submenu resource-menu">
					<li class="nav-submenu-item" style="display:none;">
						<a href="https://365retailmarkets.zendesk.com/hc/en-us/#news">News</a>
					</li>

					<div class="nav-column-left">
						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360000035533-Administration-Guides">Administration</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/115000378854-Product-Hardware">Products</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360000062813-Document-Library">Documents</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/115000381293-Help-Support">Support</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946554">Legacy</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964373">V5</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964433">NanoMarket</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946854">ReadyTouch</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001946914">SmartHQ</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964793">ADM</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964853">Airvend</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947034">Beacon</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947074">365Pay App</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964893">Equipment Maintenance</a>
						</li>
					</div>

					<div class="nav-column-right">
						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964913">Camera Security Systems</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947114">PicoMarket</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964953">Zendesk</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947134">CxEngage</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964973">International</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001964993">Social Feedia</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001965013">Support Procedures</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001965073">Additional Docs</a>
						</li>

						<li class="nav-submenu-item">
							<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360001947554">Wing Cards</a>
						</li>
					</div>
				</ul>
			</li>

			<li class="nav-item">
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/categories/360002185954-Release-Notes">Release Notes</a>
				<div class="release_notes_notify new_notes"></div>
				<!--ul class="nav-submenu">
					<li class="nav-submenu-item">
						<a href="https://365retailmarkets.zendesk.com/hc/en-us/articles/360021482494-ADM-Release-Notes-External">ADM</a>
					</li>
					<li class="nav-submenu-item">
						<a href="https://365retailmarkets.zendesk.com/hc/en-us/articles/360021482774-Legacy-Release-Notes-External">Legacy</a>
					</li>
					<li class="nav-submenu-item">
						<a href="https://365retailmarkets.zendesk.com/hc/en-us/articles/360021663973-NanoMarket-Release-Notes-External">NanoMarket</a>
					</li>
					<li class="nav-submenu-item">
						<a href="https://365retailmarkets.zendesk.com/hc/en-us/articles/360023747114-V5-ReadyTouch-MicroMarket-Release-Notes-External">v5/ReadyTouch</a>
					</li>
				</ul-->
			</li>

			<li class="nav-item" id="my-support-logout">
				<a>My Support</a>
				<ul class="nav-submenu">
					<li class="nav-submenu-item">
						<a id="user-profile-link">View Dashboard</a>
					</li>
					<li class="nav-submenu-item">
						{{#link 'new_request' class='submit-a-request'}}Submit Ticket{{/link}}
					</li>
					<li class="nav-submenu-item">
						<a href="/hc/en-us/requests">Ticket History</a>
					</li>
					<li class="nav-submenu-item">
						<a href="https://365retailmarkets.zendesk.com/hc/en-us/subscriptions?filter_by=articles">Saved Resources</a>
					</li>
					<li class="nav-submenu-item">
						<a href="/access/logout?return_to=https%3A%2F%2F365retailmarkets.zendesk.com%2Fhc%2Fen-us">Sign Out</a>
					</li>
				</ul>
			</li>

			<li class="nav-item" id="my-support-login">
				<a href="https://365retailmarkets.zendesk.com/hc/en-us/signin?return_to=https%3A%2F%2F365retailmarkets.zendesk.com">Sign In</a>
			</li>
		</ul>
	</nav>
</section>
<!-- /Nav -->
<section class="hc-header">
	<nav class="hidden-navigation" id="hc-nav-duplicate"></nav>
</section>
