<!-- Start Home Page Template -->
<div class="container"> 

    <!-- Hero and Search Bar -->
    <div class="row hero"> 
        <div class="col-sm-3"></div>
        <div class="col">
            <form accept-charset="UTF-8" action="/hc/en-us/search" method="get" role="search" >
                <input class="search" id="query" name="query" type="search" placeholder="&#8981; Search the 365 HelpCenter">
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <!-- Quick Actions Area -->
    <div class="row quick-actions">

        <div class="col-sm-12 col-md-4 action canteen">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002063553" class="action-content">
                Canteen
                <i class="ph-coffee"></i>
            </a>
        </div>
        <div class="w-100"></div>

        <div class="col-sm-12 col-md-3 action">
            <a href="{{page_path 'new_request'}}" class="action-content">
                Submit a Ticket
                <i class="ph-rocket-launch"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 action">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554" class="action-content">
                Wing Cards
                <i class="ph-file-text"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 action">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004439774" class="action-content">
                Article Index
                <i class="ph-text-align-left"></i>
            </a>
        </div>

    </div>

    <!-- Start Category Area -->

    <!-- Internal Categories -->
    <div class="row rollup-header internal-header">
        <div class="col-12 internal-rollup category-rollup">
            365 Department Categories
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Internal Content -->
    <div class="row rollup-content internal-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="#" class="rollup-button_content">
                Implementation
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="#" class="rollup-button_content">
                IT
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/1500001616321" class="rollup-button_content">
                Marketing
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360003728294" class="rollup-button_content">
                SalesOps
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="#" class="rollup-button_content">
                Security
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001965013" class="rollup-button_content">
                Support
                <i class="ph-caret-right"></i>
            </a>
        </div>

    </div>


    <!-- Hardware Categories -->
    <div class="row rollup-header hardware-header">
        <div class="col-12 hardware-rollup category-rollup">
            Hardware Categories
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Hardware Content -->
    <div class="row rollup-content hardware-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947034" class="rollup-button_content">
                365Beacon
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964853" class="rollup-button_content">
                AirVend
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004440794" class="rollup-button_content">
                Dining
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001946554" class="rollup-button_content">
                Legacy Kiosks
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964913" class="rollup-button_content">
                Market Security
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964433" class="rollup-button_content">
                NanoMarket
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947114" class="rollup-button_content">
                PicoPlatform
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964373" class="rollup-button_content">
                V5 Kiosks
                <i class="ph-caret-right"></i>
            </a>
        </div>
    </div>

    <!-- Software Categories -->
    <div class="row rollup-header software-header">
        <div class="col-12 software-rollup category-rollup">
            Software Categories
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Software Content -->
    <div class="row rollup-content software-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964793" class="rollup-button_content">
                ADM
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947074" class="rollup-button_content">
                Mobile
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001946914" class="rollup-button_content">
                SmartHQ
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964993" class="rollup-button_content">
                Social Feedia
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002185954" class="rollup-button_content">
                Release Notes
                <i class="ph-caret-right"></i>
            </a>
        </div>
    </div>

    <!-- Other Categories -->
    <div class="row rollup-header other-header">
        <div class="col-12 other-rollup category-rollup">
            Sales Materials, CK, and International
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Other Content -->
    <div class="row rollup-content other-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001965073" class="rollup-button_content">
                Additional Docs
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004802874" class="rollup-button_content">
                CK Legacy
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004325294" class="rollup-button_content">
                Grand Openings
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964973" class="rollup-button_content">
                International
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004439774" class="rollup-button_content">
                Master Articles
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002841913" class="rollup-button_content">
                Sales Material
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002716534" class="rollup-button_content">
                Things to Know!
                <i class="ph-caret-right"></i>
            </a>
        </div>
    </div>


    <!-- Common Questions -->
    <div class="row common_questions qc_top">
        <div class="col-12 common_questions-header">Browse common questions</div>

        <div class="col questions_category-button qc_active">Finance</div>
        <div class="col questions_category-button">Products</div>
        <div class="col questions_category-button">General Questions</div>
        <div class="col-6"></div>
    </div>

    <!-- Question Block -->
    <div class="row common_questions qc_blocks qc_blocks-active" data-question-type="Finance">
        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">Disbursements</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Can I access my disbursement report online?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Why are cash fundings deducted from my GMA disbursement?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Why are past due invoices being deducted from my disbursement?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        If my kiosk is offline, why can a sale still go through and not appear on my disbursement?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Is the column labeled "Taxes" on my GMA disbursement included in my disbursement total?
                    </a>
                </li>
                <li class="qc_block-more">
                    <a href="#">
                        See more
                        <i class="ph-dots-three-bold"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">Invoices &amp; Payments</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        How can I pay my bill?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Why am I getting a list of charges due with no details?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Can I get an invoice now for an order I just placed or will place soon?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        How do I close my location and stop future subscription fees?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        I paid my transfer fee, what are the next steps?
                    </a>
                </li>
                <li class="qc_block-more">
                    <a href="#">
                        See more
                        <i class="ph-dots-three-bold"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">Customer Accounts/Charges</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        What does GMA stand for?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Does 365 pay the sales tax for my company or are we responsible for paying the sales tax?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        What are the charges on my credit card for?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        If I fund a customer’s account, why does it show as a deduction in the adjustment column?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Can you tell me what the adjustment on my GMA report is for?
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Question Block -->
    <div class="row common_questions qc_blocks" data-question-type="Products">
        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">ADM</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Do you offer any training on ADM? Where can I sign up?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        How do Pick Lists work?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        How can I complete a bulk price change?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        What are some of the most common reports for sales and reconciliation in ADM?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        How do I create a promotion?
                    </a>
                </li>
                <li class="qc_block-more">
                    <a href="#">
                        See more
                        <i class="ph-dots-three-bold"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">PicoPlatform</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        How do I enter service mode on my cooler and Pico?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Does PicoCooler have ethernet?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        My PicoCooler says Health Safety Checks are engaged, how do I clear these?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        What type of connectivity does the PicoCooler offer?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Does Pico offer Verizon network capabilities?
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">Network &amp; Connectivity</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Where is the network documentation for my product?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        What do I do if my kiosk goes offline?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Can I get offline alerts for my devices?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Do the Gen3 and NanoMarket kiosks have NFC capability?
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <!-- Question Block -->
    <!-- Hardware Block -->
    <div class="row common_questions qc_blocks" data-question-type="General Questions">
        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">Market Management</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360036077174">
                        <i class="ph-caret-right"></i>
                        Can we use key fobs (market cards) in the market? How does it work?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554">
                        <i class="ph-caret-right"></i>
                        Do you have signage we can display in the market?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554">
                        <i class="ph-caret-right"></i>
                        Where can I find flyers to post around my market that will show customers how to use a kiosk?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002841913">
                        <i class="ph-caret-right"></i>
                        Do you have any sales information about your products?
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="ph-caret-right"></i>
                        Are there any recommended best practices?
                    </a>
                </li>
                <li class="qc_block-more">
                    <a href="#">
                        See more
                        <i class="ph-dots-three-bold"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-sm-12 col-md-3 qc_block">
            <div class="qc_block-title">Misc</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360039553133">
                        <i class="ph-caret-right"></i>
                        Where can I find details about the Loyalty Program?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554">
                        <i class="ph-caret-right"></i>
                        Do you have a company directory?
                    </a>
                </li>
            </ul>
        </div>
    </div>


    <!-- New Articles Feed -->
    <div class="row new-articles-feed">
        <div class="col-12 new_articles-header">New Articles</div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>
    </div>

</div>
<!-- End Home Page Template -->
