<!-- Start Home Page Template -->
<div class="container">

    <!-- ================================
        #Alert-Banner
    ================================ -->
    <div class="row banner">
        <a href="#" class="banner__content">
            <i class="ph-hand-waving animate-wave-hand"></i>
            <div>The 365Ops App is HERE!! Get specific data and connectivity info for your locations all from your mobile phone!</div>
        </a>
    </div>





    <!-- ================================
        #Hero-and-Search-Bar 
    ================================ -->
    <section class="row hero"> 
        <div class="col-sm-3"></div>
        <form accept-charset="UTF-8" action="/hc/en-us/search" method="get" role="search" class="col">
            <label class="label--hidden" for="search--hero">Search the Three Sixty Five Help Center:</label>
            <input id="search--hero" name="query" type="search" placeholder="&#xf4a8; Search the 365 HelpCenter" class="search search--large">
        </form>
        <div class="col-sm-3"></div>

        <div class="col-12 indicator-arrow">
            <i class="ph-caret-down-light"></i>
        </div>
    </section>





    <!-- ================================
        #Quick-Actions
    ================================ -->
    <section class="row row-dark padded-content">

        <div class="col-sm-12 col-md col-lg-3 card">

            <div class="card__cap">
                <div class="card__title">
                    Wing Cards
                </div>
            </div>

            <div class="card__body">
                Browse our collection of short, instructional, how-to cards you can post in your market.
            </div>

            <div class="card__action">
                <a href="#" class="button button--small">
                    View
                </a>
            </div>

        </div>

        <div class="col-sm-12 col-md col-lg-3 card js-restricted-internal-content">
            <div class="card__cap">
                <div class="card__title">
                    Training Corner
                </div>
            </div>

            <div class="card__body">
                Take all the past and current Training Certification Courses right here. Your journey to higher knowledge begins!
            </div>
            
            <div class="card__action">
                <a href="#" class="button button--small">
                    View
                </a>
            </div>
       </div>

        <div class="col-sm-12 col-md col-lg-3 card js-restricted-canteen-content">
            <div class="card__cap">
                <div class="card__title">
                    Canteen
                </div>
            </div>

            <div class="card__body">
                Access all of the Canteen-specific content here.
            </div>
            
            <div class="card__action">
                <a href="#" class="button button--small">
                    View
                </a>
            </div>
        </div>

    </section>





    <!-- ================================
        #Common-Questions
    ================================ -->
    <div class="row row-light pb-lg">
        <div class="col-12 heading py-md">Browse common questions</div>

        <a href="#Finance" class="col-sm col-md-3 col-lg-2 ms-lg me-md button button--active js-switch-question">
            Finance
        </a>

        <a href="#Products" class="col-sm col-md-3 col-lg-2 me-md button button--inactive js-switch-question">
            Products
        </a>

        <a href="#General" class="col-sm col-md-3 col-lg-2 me-md button button--inactive js-switch-question">
            General Questions
        </a>
    </div>





    <!-- ================================
        #Finance-Questions
    ================================ -->
    <div id="Finance" class="row row-dark question-block question-block--active padded-content">

        <div class="col-sm-12 col-md col-lg-3 card">
            <div class="card__cap">
                <div class="card__title">
                    Disbursements
                </div>
            </div>

            <div class="card__body">
                
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9K4FA0RVV2CS64SCSFC3T">
                            Can I access my disbursement report online?
                        </a>
                    </li>

                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9KD0M0D087KWA6SWTAYJM">
                            Why are cash fundings deducted from my GMA disbursement?
                        </a>
                    </li>

                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9KPZDYEHJ929D7144JY79">
                            Why are past due invoices being deducted from my disbursement?
                        </a>
                    </li>

                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9KXJ61B0KVX51682S25JT">
                            If my kiosk is offline, why can a sale still go through and not appear on my disbursement?
                        </a>
                    </li>

                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9M57S514M9TVRA8K3YB11">
                            Is the column labeled "Taxes" on my GMA disbursement included in my disbursement total?
                        </a>
                    </li>
                </ul>

            </div>
            
            <div class="card__action">
                <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007" class="button button--small">
                    See more
                </a>
            </div>
       </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md col-lg-3 card">
            <div class="card__cap">
                <div class="card__title">
                    Invoices &amp; Payments
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9A23BMFYSHXRJNNMM0HH3">
                            How can I pay my bill?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9ESA6C8Q2QZMFV16PN3WB">
                            Why am I getting a list of charges due with no details?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9F53GK3KBC1G88CF8F4CT">
                            Can I get an invoice now for an order I just placed or will place soon?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9H2VXV3RSCXD5NX6M1BDX">
                            I paid my transfer fee, what are the next steps?
                        </a>
                    </li>
                </ul>
            </div>
            
       </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md col-lg-3 card">

            <div class="card__cap">
                <div class="card__title">
                    Customer Accounts/Charges
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9JX3ZP2RJWXWJY2PX1KMR">
                            What does GMA stand for?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9MBJABR0VN58KBQE9TA6F">
                            Does 365 pay the sales tax for my company or are we responsible for paying the sales tax?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9MNSR20MWQCP63TE75QZM">
                            What are the charges on my credit card for?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9MH2K3KZGM1SX88WP46KK">
                            If I fund a customer’s account, why does it show as a deduction in the adjustment column?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9JPGP4CQHHVQFSENNBJNR">
                            Can you tell me what the adjustment on my GMA report is for?
                        </a>
                    </li>
                </ul>
            </div>

       </div>

    </div>





    <!-- ================================
        #Products-Questions
    ================================ -->
    <div id="Products" class="row row-dark question-block padded-content">

        <div class="col-sm-12 col-md col-lg-3 card">

            <div class="card__cap">
                <div class="card__title">
                    ADM
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360034907654">
                            How do Pick Lists work?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360017588213">
                            How can I complete a bulk price change?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360055590994">
                            What are some of the most common reports for sales and reconciliation in ADM?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360026457834">
                            How do I create a promotion?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404730014999">
                            What web browser is ADM best viewed in?
                        </a>
                    </li>
                </ul>
            </div>
            
            <div class="card__action">
                <a href="https://help.365retailmarkets.com/hc/en-us/articles/360051886154" class="button button--small">
                    See more
                </a>
            </div>

       </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md col-lg-3 card">

            <div class="card__cap">
                <div class="card__title">
                    PicoCooler
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_01FE1WZVDVRFNBJWN05EE6DFEP">
                            How do I enter service mode on my cooler and Pico?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_01FHWSC0HR6XVMY2AP6HH5MZNV">
                            Does PicoCooler have ethernet?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642#h_01FE1WZ51K7QJMGK5EKN752M0B">
                            My PicoCooler says Health Safety Checks are engaged, how do I clear these?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_0b2980bd-d724-4eb8-aaca-b588cd737612">
                            What type of connectivity does the PicoCooler offer?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_01FHWSCC5W22NGKCNTQCRJR55F">
                            Does Pico offer Verizon network capabilities?
                        </a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>

            <div class="card__action">
                <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642" class="button button--small">
                    See more
                </a>
            </div>
                
        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md col-lg-3 card">

            <div class="card__cap">
                <div class="card__title">
                    365Beacon
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFT0H3HW8JSZFPDPJME0TC">
                            What is the 365Beacon?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFT6G7NN5B5F1WBFR2PP9P">
                            How do you install the Beacon?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFTH4B376T4BDEG99NSWGV">
                            Where should I put the Beacon?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFV37C4QSE1M1PYSVTTHVM">
                            What are the pros and cons of having multiple Beacons?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFVY3H81NXT0XBG6RTGMH4">
                            Can a Beacon be placed in a marketplace with an existing kiosk or tablet?
                        </a>
                    </li>
                    <li>
                        
                    </li>
                </ul>
            </div>

            <div class="card__action">
                <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154" class="button button--small">
                    See more
                </a>
            </div>

        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md-3 card">

            <div class="card__cap">
                <div class="card__title">
                    Network &amp; Connectivity
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360062940373">
                            Where is the network documentation for my product?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500009385262-365-FAQ-s#h_01FAGDJWR2FJJWW4ARD11TCXVN">
                            What do I do if my kiosk goes offline?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360038455853-ADM-Dashboards-and-Notifications-Guide">
                            Can I get offline alerts for my devices?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500009385262-365-FAQ-s#h_01FAGDK650HY4WCC4BZ4Y83PTX">
                            Do the Gen3 and NanoMarket kiosks have NFC capability?
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>





    <!-- ================================
        #General-Questions
    ================================ -->
    <div id="General" class="row row-dark question-block padded-content">
        <div class="col-sm-12 col-md col-lg-3 card">

            <div class="card__cap">
                <div class="card__title">
                    Market Management
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360036077174">
                            Can we use key fobs (market cards) in the market? How does it work?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554">
                            Do you have signage we can display in the market?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554">
                            Where can I find flyers to post around my market that will show customers how to use a kiosk?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002841913">
                            Do you have any sales information about your products?
                        </a>
                    </li>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360052872353">
                            Are there any recommended best practices?
                        </a>
                    </li>
                </ul>
            </div>

        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md col-lg-3 card">
            <div class="card__cap">
                <div class="card__title">
                    Misc
                </div>
            </div>

            <div class="card__body">
                <ul>
                    <li>
                        <a href="https://help.365retailmarkets.com/hc/en-us/articles/360039553133">
                            Where can I find details about the Loyalty Program?
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>





    <!-- ================================
        #New-Articles-Feed
    ================================ -->

    <section class="row row-light pb-lg js-new-articles-feed">

        <div class="col-12 heading py-lg">New Articles</div>

    </section>

</div>

<script src="{{asset 'home-page-scripts.js'}}"></script>
<!-- End Home Page Template -->
