<!-- Start Home Page Template -->
<div class="container"> 

    <!-- Hero and Search Bar -->
    <div class="row hero"> 
        <div class="col-sm-3"></div>
        <div class="col">
            <form accept-charset="UTF-8" action="/hc/en-us/search" method="get" role="search" >
                <input class="search" id="query" name="query" type="search" placeholder="&#8981; Search the 365 HelpCenter">
            </form>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <!-- Quick Actions Area -->
    <div class="row quick-actions">

        <div class="col-sm-12 col-md-4 action canteen">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002063553" class="action-content">
                Canteen
                <i class="ph-coffee"></i>
            </a>
        </div>
        <div class="w-100"></div>

        <div class="col-sm-12 col-md-3 action">
            <a href="{{page_path 'new_request'}}" class="action-content">
                Submit a Ticket
                <i class="ph-rocket-launch"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 action">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554" class="action-content">
                Wing Cards
                <i class="ph-file-text"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 action">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004439774" class="action-content">
                Article Index
                <i class="ph-text-align-left"></i>
            </a>
        </div>

    </div>

    <!-- Start Category Area -->

    <!-- Internal Categories -->
    <div class="row rollup-header internal-header">
        <div class="col-12 internal-rollup category-rollup">
            365 Department Categories
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Internal Content -->
    <div class="row rollup-content internal-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="#" class="rollup-button_content">
                Implementation
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="#" class="rollup-button_content">
                IT
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360003728294" class="rollup-button_content">
                SalesOps
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="#" class="rollup-button_content">
                Security
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001965013" class="rollup-button_content">
                Support
                <i class="ph-caret-right"></i>
            </a>
        </div>

    </div>


    <!-- Hardware Categories -->
    <div class="row rollup-header hardware-header">
        <div class="col-12 hardware-rollup category-rollup">
            Hardware Categories
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Hardware Content -->
    <div class="row rollup-content hardware-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947034" class="rollup-button_content">
                365Beacon
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964853" class="rollup-button_content">
                AirVend
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004440794" class="rollup-button_content">
                Dining
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001946554" class="rollup-button_content">
                Legacy Kiosks
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964913" class="rollup-button_content">
                Market Security
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964433" class="rollup-button_content">
                NanoMarket
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947114" class="rollup-button_content">
                PicoPlatform
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964373" class="rollup-button_content">
                V5 Kiosks
                <i class="ph-caret-right"></i>
            </a>
        </div>
    </div>

    <!-- Software Categories -->
    <div class="row rollup-header software-header">
        <div class="col-12 software-rollup category-rollup">
            Software Categories
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Software Content -->
    <div class="row rollup-content software-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964793" class="rollup-button_content">
                ADM
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947074" class="rollup-button_content">
                Mobile
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001946914" class="rollup-button_content">
                SmartHQ
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964993" class="rollup-button_content">
                Social Feedia
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002185954" class="rollup-button_content">
                Release Notes
                <i class="ph-caret-right"></i>
            </a>
        </div>
    </div>

    <!-- Other Categories -->
    <div class="row rollup-header other-header">
        <div class="col-12 other-rollup category-rollup">
            Sales Materials, CK, and International
            <i class="ph-plus-bold"></i>
        </div>
    </div>

    <!-- Other Content -->
    <div class="row rollup-content other-content" style="display: none;">

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001965073" class="rollup-button_content">
                Additional Docs
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004802874" class="rollup-button_content">
                CK Legacy
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004325294" class="rollup-button_content">
                Grand Openings
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964973" class="rollup-button_content">
                International
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004439774" class="rollup-button_content">
                Master Articles
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002841913" class="rollup-button_content">
                Sales Material
                <i class="ph-caret-right"></i>
            </a>
        </div>

        <div class="col-sm-12 col-md-3 col-lg-2 rollup-button">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002716534" class="rollup-button_content">
                Things to Know!
                <i class="ph-caret-right"></i>
            </a>
        </div>
    </div>

    <!-- New Articles Feed -->
    <div class="row new-articles-feed">
        <div class="col-12 new_articles-header">New Articles</div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>

        <a href="#" class="col-12 new_articles-title">
        </a>
        <div class="col-12 new_articles-date">
        </div>
    </div>

</div>
<!-- End Home Page Template -->
