<!-- Start Home Page Template -->
<div class="container"> 

    <!-- ================================
        #Hero-and-Search-Bar 
    ================================ -->
    <section class="row hero"> 
        <div class="col-sm-3"></div>
        <form accept-charset="UTF-8" action="/hc/en-us/search" method="get" role="search" class="col">
            <label class="label--hidden" for="search--hero">Search the Three Six Five Help Center:</label>
            <input id="search--hero" name="query" type="search" placeholder="&#8981; Search the 365 HelpCenter" class="search">
        </form>
        <div class="col-sm-3"></div>
    </section>





    <!-- ================================
        #Quick-Actions
    ================================ -->
    <section class="row quick-actions padded-content row-dark">

        <div class="col-sm-12 col-md col-lg-3 card card--quick-action canteen-branded js-restricted-canteen-content">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002063553">
                <div class="card__title">
                    Canteen
                </div>
                <p class="card_body">
                    Access all of the Canteen-specific content here.
                </p>
                
            </a>
        </div>

        <div class="col-sm-12 col-md col-lg-3 card card--quick-action">
            <a href="{{page_path 'new_request'}}">
                <div class="card__title">
                    Submit a Ticket
                </div>
                <p class="card__body">
                    Open a new ticket with our world-class Support team.
                </p>
            </a>
        </div>

        <div class="col-sm-12 col-md col-lg-3 card card--quick-action">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554">
                <div class="card__title">
                    Wing Cards
                </div>
                <p class="card__body">
                    Browse our collection of short, instructional, how-to cards you can post in your market.
                </p>
            </a>
        </div>

        <div class="col-sm-12 col-md col-lg-3 card card--quick-action">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004439774">
                <div class="card__title">
                    Article Index
                </div>
                <p class="card__body">
                    Find all the information you'll need about any of our products in its master article here.
                </p>
            </a>
        </div>

        <div class="col-sm-12 col-md col-lg-3 card card--quick-action">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964973">
                <div class="card__title">
                    International
                </div>
                <p class="card__body">
                    Operating somewhere outside the US? All international content lives here.
                </p>
            </a>
        </div>

        <div class="col-sm-12 col-md col-lg-3 card card--quick-action js-restricted-internal-content">
            <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002064053">
                <div class="card__title">
                    Training Corner
                </div>
                <p class="card__body">
                    Take all the past and current Training Certification Courses right here. Your journey to higher knowledge begins!
                </p>
            </a>
       </div>

       <div class="col-sm-12 col-md col-lg-3 card card--quick-action">
            <a href="https://avantimarkets.zendesk.com/hc/en-us" target="_blank">
                <div class="card__title">
                    Avanti Markets Help Center
                </div>
                <p class="card__body">
                    Click here to be redirected to the Avanti Markets Help Center. <i class="ph-arrow-right"></i>
                </p>
            </a>
       </div>
    </section>





    <!-- ================================
        #Category-Drawers
    ================================ -->

    <!-- ================================
        #Internal-Categories
    ================================ -->
    <div class="row category-heading row-light js-restricted-internal-content js-expand-category" tabindex="0">
        <div class="col-12 heading">
            <i class="ph-plus-bold"></i>
            Internal Categories
        </div>
    </div>

    <!-- Internal Content -->
    <div id="internal-drawer-content" class="row category-heading__content row-dark js-restricted-internal-content" style="display: none;">
        <a href="#" class="col-sm-12 col-md-3 col-lg-2 button">
            Implementation
        </a>

        <a href="#" class="col-sm-12 col-md-3 col-lg-2 button">
            IT
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/4403373458327" class="col-sm-12 col-md-3 col-lg-2 button">
            Marketing
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360003728294" class="col-sm-12 col-md-3 col-lg-2 button">
            SalesOps
        </a>

        <a href="#" class="col-sm-12 col-md-3 col-lg-2 button">
            Security
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001965013" class="col-sm-12 col-md-3 col-lg-2 button">
            Support
        </a>
    </div>





    <!-- ================================
        #Hardware-Categories
    ================================ -->
    <div class="row category-heading row-light js-expand-category" tabindex="0">
        <div class="col-12 heading">
            <i class="ph-plus-bold"></i>
            Hardware Categories
        </div>
    </div>

    <!-- Hardware Content -->
    <div class="row category-heading__content row-dark" style="display: none;">
        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947034" class="col-sm-12 col-md-3 col-lg-2 button">
            365Beacon
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964853" class="col-sm-12 col-md-3 col-lg-2 button">
            AirVend
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004440794" class="col-sm-12 col-md-3 col-lg-2 button">
            Dining
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001946554" class="col-sm-12 col-md-3 col-lg-2 button">
            Legacy Kiosks
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964913" class="col-sm-12 col-md-3 col-lg-2 button">
            Market Security
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964433" class="col-sm-12 col-md-3 col-lg-2 button">
            NanoMarket
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947114" class="col-sm-12 col-md-3 col-lg-2 button">
            PicoPlatform
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964373" class="col-sm-12 col-md-3 col-lg-2 button">
            V5 Kiosks
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004802874" class="col-sm-12 col-md-3 col-lg-2 button">
            CK Legacy
        </a>
    </div>





    <!-- ================================
        #Software-Categories
    ================================ -->
    <div class="row category-heading row-light js-expand-category" tabindex="0">
        <div class="col-12 heading">
            <i class="ph-plus-bold"></i>
            Software Categories
        </div>
    </div>

    <!-- Software Content -->
    <div class="row category-heading__content row-dark" style="display: none;">
        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964793" class="col-sm-12 col-md-3 col-lg-2 button">
            ADM
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947074" class="col-sm-12 col-md-3 col-lg-2 button">
            Mobile
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001946914" class="col-sm-12 col-md-3 col-lg-2 button">
            SmartHQ
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001964993" class="col-sm-12 col-md-3 col-lg-2 button">
            Social Feedia
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002185954" class="col-sm-12 col-md-3 col-lg-2 button">
            Release Notes
        </a>
    </div>





    <!-- ================================
        #Other-Categories
    ================================ -->
    <div class="row category-heading row-light js-expand-category" tabindex="0">
        <div class="col-12 heading">
            <i class="ph-plus-bold"></i>
            Brand and Sales Materials
        </div>
    </div>

    <!-- Other Content -->
    <div class="row category-heading__content row-dark" style="display: none;">
        <a href="https://help.365retailmarkets.com/hc/en-us/categories/4408784392471" class="col-sm-12 col-md-3 col-lg-2 button">
            Brand Guidelines
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360004325294" class="col-sm-12 col-md-3 col-lg-2 button">
            Grand Openings
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002841913" class="col-sm-12 col-md-3 col-lg-2 button">
            Sales Material
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001965073" class="col-sm-12 col-md-3 col-lg-2 button">
            Additional Docs
        </a>

        <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002716534" class="col-sm-12 col-md-3 col-lg-2 button">
            Things to Know!
        </a>
    </div>





    <!-- ================================
        #Common-Questions
    ================================ -->
    <div class="row padded-content row-light">
        <div class="col-12 heading">Browse common questions</div>

        <a href="#Finance" class="col-sm col-md-3 col-lg-2 button button--active js-switch-question">
            Finance
        </a>

        <a href="#Products" class="col-sm col-md-3 col-lg-2 button button--inactive js-switch-question">
            Products
        </a>

        <a href="#General" class="col-sm col-md-3 col-lg-2 button button--inactive js-switch-question">
            General Questions
        </a>
    </div>





    <!-- ================================
        #Finance-Questions
    ================================ -->
    <div id="Finance" class="row question-block question-block--active padded-content">

        <div class="col-sm col-md-3 card">
            <div class="subheading subheading--underline">Disbursements</div>

            <ul>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9K4FA0RVV2CS64SCSFC3T" class="link">
                        Can I access my disbursement report online?
                    </a>
                </li>

                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9KD0M0D087KWA6SWTAYJM" class="link">
                        Why are cash fundings deducted from my GMA disbursement?
                    </a>
                </li>

                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9KPZDYEHJ929D7144JY79" class="link">
                        Why are past due invoices being deducted from my disbursement?
                    </a>
                </li>

                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9KXJ61B0KVX51682S25JT" class="link">
                        If my kiosk is offline, why can a sale still go through and not appear on my disbursement?
                    </a>
                </li>

                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9M57S514M9TVRA8K3YB11" class="link">
                        Is the column labeled "Taxes" on my GMA disbursement included in my disbursement total?
                    </a>
                </li>

                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007" class="button button--dark">
                        See more
                    </a>
                </li>
            </ul>

        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md-3 card">
            <div class="subheading subheading--underline">Invoices &amp; Payments</div>

            <ul>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9A23BMFYSHXRJNNMM0HH3" class="link">
                        How can I pay my bill?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9ESA6C8Q2QZMFV16PN3WB" class="link">
                        Why am I getting a list of charges due with no details?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9F53GK3KBC1G88CF8F4CT" class="link">
                        Can I get an invoice now for an order I just placed or will place soon?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9H2VXV3RSCXD5NX6M1BDX" class="link">
                        I paid my transfer fee, what are the next steps?
                    </a>
                </li>
            </ul>
        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md-3 card">
            <div class="subheading subheading--underline">Customer Accounts/Charges</div>

            <ul>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9JX3ZP2RJWXWJY2PX1KMR" class="link">
                        What does GMA stand for?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9MBJABR0VN58KBQE9TA6F" class="link">
                        Does 365 pay the sales tax for my company or are we responsible for paying the sales tax?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9MNSR20MWQCP63TE75QZM" class="link">
                        What are the charges on my credit card for?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9MH2K3KZGM1SX88WP46KK" class="link">
                        If I fund a customer’s account, why does it show as a deduction in the adjustment column?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404430474007-Finance-FAQ-s#h_01FAR9JPGP4CQHHVQFSENNBJNR" class="link">
                        Can you tell me what the adjustment on my GMA report is for?
                    </a>
                </li>
            </ul>
        </div>
    </div>





    <!-- ================================
        #Products-Questions
    ================================ -->
    <div id="Products" class="row question-block padded-content">

        <div class="col-sm-12 col-md-3 card">
            <div class="subheading subheading--underline">ADM</div>

            <ul>
                <!--li>
                    <a href="https://365servicedesk.atlassian.net/servicedesk/customer/portal/15" class="link">
                        Do you offer any training on ADM? Where can I sign up?
                    </a>
                </li-->
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360034907654" class="link">
                        How do Pick Lists work?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360017588213" class="link">
                        How can I complete a bulk price change?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360055590994" class="link">
                        What are some of the most common reports for sales and reconciliation in ADM?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360026457834" class="link">
                        How do I create a promotion?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/4404730014999" class="link">
                        What web browser is ADM best viewed in?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360051886154" class="button button--dark">
                        See more
                    </a>
                </li>
            </ul>
        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md-3 card">
            <div class="subheading subheading--underline">PicoCooler</div>

            <ul class="qc_block-questions">
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_01FE1WZVDVRFNBJWN05EE6DFEP" class="link">
                        How do I enter service mode on my cooler and Pico?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_01FHWSC0HR6XVMY2AP6HH5MZNV" class="link">
                        Does PicoCooler have ethernet?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642#h_01FE1WZ51K7QJMGK5EKN752M0B" class="link">
                        My PicoCooler says Health Safety Checks are engaged, how do I clear these?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_0b2980bd-d724-4eb8-aaca-b588cd737612" class="link">
                        What type of connectivity does the PicoCooler offer?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642-PicoCooler-FAQs-External#h_01FHWSCC5W22NGKCNTQCRJR55F" class="link">
                        Does Pico offer Verizon network capabilities?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500001335642" class="button button--dark">
                        See more
                    </a>
                </li>
            </ul>
        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md-3 card">
            <div class="subheading subheading--underline">365Beacon</div>

            <ul class="qc_block-questions">
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFT0H3HW8JSZFPDPJME0TC" class="link">
                        What is the 365Beacon?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFT6G7NN5B5F1WBFR2PP9P" class="link">
                        How do you install the Beacon?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFTH4B376T4BDEG99NSWGV" class="link">
                        Where should I put the Beacon?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFV37C4QSE1M1PYSVTTHVM" class="link">
                        What are the pros and cons of having multiple Beacons?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154-365Beacon-FAQ#h_01FAGFVY3H81NXT0XBG6RTGMH4" class="link">
                        Can a Beacon be placed in a marketplace with an existing kiosk or tablet?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360045117154" class="button button--dark">
                        See more
                    </a>
                </li>
            </ul>
        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md-3 card">
            <div class="subheading subheading--underline">Network &amp; Connectivity</div>

            <ul class="qc_block-questions">
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360062940373" class="link">
                        Where is the network documentation for my product?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500009385262-365-FAQ-s#h_01FAGDJWR2FJJWW4ARD11TCXVN" class="link">
                        What do I do if my kiosk goes offline?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360038455853-ADM-Dashboards-and-Notifications-Guide" class="link">
                        Can I get offline alerts for my devices?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/1500009385262-365-FAQ-s#h_01FAGDK650HY4WCC4BZ4Y83PTX" class="link">
                        Do the Gen3 and NanoMarket kiosks have NFC capability?
                    </a>
                </li>
            </ul>
        </div>
    </div>





    <!-- ================================
        #General-Questions
    ================================ -->
    <div id="General" class="row question-block padded-content">
        <div class="col-sm-12 col-md-3 card">

            <div class="subheading subheading--underline">Market Management</div>
            <ul class="qc_block-questions">
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360036077174" class="link">
                        Can we use key fobs (market cards) in the market? How does it work?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554" class="link">
                        Do you have signage we can display in the market?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/categories/360001947554" class="link">
                        Where can I find flyers to post around my market that will show customers how to use a kiosk?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/categories/360002841913" class="link">
                        Do you have any sales information about your products?
                    </a>
                </li>
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360052872353" class="link">
                        Are there any recommended best practices?
                    </a>
                </li>
            </ul>
        </div>

        <!-- Question Block -->
        <div class="col-sm-12 col-md-3 card">
            <div class="subheading subheading--underline">Misc</div>

            <ul class="qc_block-questions">
                <li>
                    <a href="https://help.365retailmarkets.com/hc/en-us/articles/360039553133" class="link">
                        Where can I find details about the Loyalty Program?
                    </a>
                </li>
            </ul>
        </div>
    </div>





    <!-- ================================
        #New-Articles-Feed
    ================================ -->
    <section class="row new-articles-feed row-light">
        <div class="col-12 heading">New Articles</div>

        <a href="#" class="col-12 new-articles-feed__article-title link">
        </a>
        <div class="col-12 subheading--small-italic js-article-date">
        </div>

        <a href="#" class="col-12 new-articles-feed__article-title link">
        </a>
        <div class="col-12 subheading--small-italic js-article-date">
        </div>

        <a href="#" class="col-12 new-articles-feed__article-title link">
        </a>
        <div class="col-12 subheading--small-italic js-article-date">
        </div>

        <a href="#" class="col-12 new-articles-feed__article-title link">
        </a>
        <div class="col-12 subheading--small-italic js-article-date">
        </div>

        <a href="#" class="col-12 new-articles-feed__article-title link">
        </a>
        <div class="col-12 subheading--small-italic js-article-date">
        </div>
    </section>

</div>

<script src="{{asset 'home-page-scripts.js'}}"></script>
<!-- End Home Page Template -->
