<!-- Start Request Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-light">
        <div class="col-12 heading">Submit a Ticket</div>
        <div class="col-12 subheading">
            Complete the following fields to open a ticket with our Support team. A 365 Support Agent will be in touch to assist in resolving your issue as soon as possible.
        </div>
    </div>

    <div class="row padded-content row-light request-container">
        <div class="col-12">
            {{request_form}}
        </div>
    </div>

</div>
<!-- End Request Template -->
