<!-- Start Request Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content row-light">
        <div class="col-12 heading">Submit a Ticket</div>
        <div class="col-12 subheading">
            Complete the following fields to open a ticket with our Support teams. A Support Agent will be in touch to assist in resolving your issue as soon as possible.
            <br>
            If your issue is urgent please contact us via phone at <a href="tel:888-365-6282">(888) 365-6282.</a>
            <br>
            For sales inquiries please <a href="https://365retailmarkets.com/contact-us/#contact-form" target="_blank">CLICK HERE</a>
        </div>
    </div>

    <div class="row padded-content row-light request-container">
        <div class="col-sm-12 col-md-6">
            {{request_form}}
        </div>
    </div>

</div>

<!-- script src="{{asset 'request-scripts.js'}}"></script -->
<!-- End Request Template -->

