<!-- Start Request Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row request_header">
        <div class="col-12 request_header-title">Submit a Ticket</div>
        <div class="col-12 request_header-desc">
            Complete the following fields to open a ticket with our Support team. A 365 Support Agent will be in touch to assist in resolving your issue as soon as possible.
        </div>
    </div>

    <div class="row request_body">
        <div class="col-12 request_body-content">
            {{request_form}}
        </div>
    </div>

</div>
<!-- End Request Template -->
