<section class="container-fluid dashboard-hero">
	<div class="row dashboard-hero-filter">
		<div style="display:none;" class="col-6 hero-text-inner-hero">Contact Us<br>
		</div>
	</div>
</section>
<div class="contact-us-page search-results-background">
	<div class="request-breadcrumbs container">
		<nav class="sub-nav">
			<a href="https://365retailmarkets.zendesk.com/hc/en-us">365 Retail Markets</a> > Contact Us
		</nav>
		<p>
			<center>We're here to help online and by phone 24 hours a day, 7 days a week.</center>
	</div>
	<div class="search-results-container container">
		<div class="col-lg-12">
			<div class="contact-us-page-header">
				<h1><i class="far fa-paper-plane"></i> SUBMIT A TICKET</h1>
				Complete the following fields to open a support ticket. A member of the 365 Support team will be in touch to assist in resolving your issue as soon as possible.
			</div>
			{{#if follow_up}}
				<span class="follow-up-hint">
					{{follow_up}}
				</span>
			{{/if}}
			<div class="col-md-12 col-xs-12 request-form-container">
				{{request_form}}

			</div>
		</div>
	</div>
	<div class="container contact-us-2nd-options">

		<div class="col-md-6">
			<h1><i class="far fa-envelope"></i> EMAIL</h1>
			<div>
				<div class="">
					<p>Send us a message to automatically create a support ticket.</p>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div>
				<h1><i class="fas fa-phone"></i> CALL</h1>
			</div>
			<div>
				<div>
					<p>Need to talk to a real person? Speak to a technical support specialist 24/7.</p>
					<ul>
						<li>(888) 365-6282 US Support</li>
						<li>800-145-6152 ext 1 - UK Support</li>
						<li>028-295-2763, ext 1 - Italy Support</li>
						<li>15-133-414, ext 1 - Ireland Support</li>
						<li>18-0093-1693, ext 1 - Australia Support</li>
						<li>80-000-14-44, ext 1 Switzerland Support</li>
						<li>085-208 2962, ext 1 Netherlands Support</li>
				</div>
			</div>
		</div>



	</div>
