<!-- Start Request Template -->
<div class="container">

    <!-- Breadcrumbs -->
    <div class="row breadcrumbs-container row-dark">
        <div class="col-12">
            {{breadcrumbs}}
        </div>
    </div>

    <div class="row padded-content no-padding--bottom row-light">
        <div class="col-12 heading">Submit a Ticket</div>
        <div class="col-12">
            <p>
                Complete the following fields to open a ticket with our Support teams. A Support Agent will be in touch to assist in resolving your issue as soon as possible.
            </p>

            <p>
                If your issue is urgent please contact us via phone at:
                <ul class="ul--default body--small">
                    <li>
                        365 Retail Markets: <a href="tel:888-365-6282">(888) 365-6282.</a>
                    </li>

                    <li>
                        Avanti Markets: <a href="tel:844-695-4675">(844) 695-4675</a>
                    </li>

                    <li>
                        Lightspeed: <a href="tel:888-400-5744">(888) 400-5744</a>
                    </li>

                    <li>
                        CK: <a href="tel:855-564-6677">(855) 564-6677</a>
                    </li>

                    <li>
                        AirVend: <a href="tel:800-321-9601">(800) 321-9601</a>
                    </li>
                </ul>
            </p>

            <p class="no-margin--bottom">
                For sales inquiries please <a href="https://365retailmarkets.com/contact-us/#contact-form" target="_blank">CLICK HERE</a>
            </p>
        </div>
    </div>

    <div class="row padded-content row-light request-container">
        <div class="col-sm-12 col-md-6">
            {{request_form}}
        </div>
    </div>

</div>

<!-- script src="{{asset 'request-scripts.js'}}"></script -->
<!-- End Request Template -->

