/*
    #Rotation-Animation
*/
.js-rotate-button {
    animation: 0.5s ease-in-out 1 normal rotateButton;
}

@keyframes rotateButton {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}
