/*
    * Extend .button {} in styles-light.css & styles-dark.css
*/
.button {
    display: inline-block;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: var(--border-radius--md);
    cursor: pointer;
    text-align: center;
    transition: var(--transition-time);
}

.button:hover {
    transition: var(--transition-time);
}

.button > i {
    position: relative;
    top: 3px;
    font-size: 1rem;
}

.button--small {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}