/*
    * Extend .card {} in styles-light.css, & styles-dark.css
*/
.card {
    display: flex;
    flex-flow: column;
    padding: 0;
    border-radius: var(--border-radius--lg);
    box-shadow: var(--shadow-outset);

    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-margin: -1rem;
}

.card__cap {
    padding: 1.5rem;
    border-radius: var(--border-radius--lg) var(--border-radius--lg) 0 0;
}

.card__title {
    font: var(--font-subheading);
}

.card__body {
    margin-bottom: auto;
    padding: 1.5rem;
}

.card__action {
    padding: 1.5rem;
    padding-top: 0;
}
