.article-body code {
    margin: 0 2px;
    padding: 0 4px;
    color: #ff4c5b;
    background-color: #fafafa;
    border: 1px solid #dae0f2;
}

.article-body pre {
    padding: 16px;
    background-color: #e4e4e4;
    border-radius: 2px;
}
