/* Article Callouts/Warnings */
.article_callout {
    width: 100%;
    margin: 32px 0;
    padding: 8px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 2px;
    text-align: center;
}

.info {
    color: #fff;
    background-color: #7492e6;
    border: 1px solid #2555d9;
    
}

.info:before {
    padding-right: 8px;
    font-family: "phosphor" !important;
    font-size: 1.5rem;
    font-weight: normal !important;
    vertical-align: middle;
    content: "\ecdd";
}

.alert {
    color: #fff;
    background-color: #ffcc1e;
    border: 1px solid #d1a719;
}

.alert:before {
    padding-right: 8px;
    font-size: 1.5rem;
    font-family: "phosphor" !important;
    font-weight: normal !important;
    vertical-align: middle;
    content: "\eef0";
}

.warning {
    color: #fff;
    background-color: #ff4c5b;
    border: 1px solid #d13f4b;
}

.warning:before {
    padding-right: 8px;
    font-size: 1.5rem;
    font-family: "phosphor" !important;
    font-weight: normal !important;
    vertical-align: middle;
    content: "\ee8a";
}

/* Simple Inline Callouts */
/* Inline Default Simple */
.inline_callout-default_simple {
    padding-left: 8px;
    border-left: 4px solid #22212d;
}

.inline_callout-default_simple .default_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-default_simple .default_body {
    font-size: 0.8rem;
}

/* Inline Info Simple */
.inline_callout-info_simple {
    padding-left: 8px;
    border-left: 4px solid #2555d9;
}

.inline_callout-info_simple .info_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-info_simple .info_body {
    font-size: 0.8rem;
}

/* Inline Success Simple */
.inline_callout-success_simple {
    padding-left: 8px;
    border-left: 4px solid #00bf6f;
}

.inline_callout-success_simple .success_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-success_simple .success_body {
    font-size: 0.8rem;
}

/* Inline Alert Simple */
.inline_callout-alert_simple {
    padding-left: 8px;
    border-left: 4px solid #ffcc1e;
}

.inline_callout-alert_simple .alert_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-alert_simple .alert_body {
    font-size: 0.8rem;
}

/* Inline Warning Simple */
.inline_callout-warning_simple {
    padding-left: 8px;
    border-left: 4px solid #ff4c5b;
}

.inline_callout-warning_simple .warning_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-warning_simple .warning_body {
    font-size: 0.8rem;
}

/* Shaded Inline Callouts */
/* Inline Default Shaded */
.inline_callout-default_shaded {
    padding: 8px;
    background-color: #eaeaeb;
    border-left: 4px solid #22212d;
}

.inline_callout-default_shaded .default_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-default_shaded .default_body {
    font-size: 0.8rem;
}

/* Inline Info Shaded */
.inline_callout-info_shaded {
    padding: 8px;
    background-color: #c3d0f4;
    border-left: 4px solid #2555d9;
}

.inline_callout-info_shaded .info_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-info_shaded .info_body {
    font-size: 0.8rem;
}

/* Inline Success Shaded */
.inline_callout-success_shaded {
    padding: 8px;
    color: #fff;
    background-color: #68d9a9;
    border-left: 4px solid #00bf6f;
}

.inline_callout-success_shaded .success_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-success_shaded .success_body {
    font-size: 0.8rem;
}

/* Inline Alert Shaded */
.inline_callout-alert_shaded {
    padding: 8px;
    background-color: #ffe179;
    border-left: 4px solid #ffcc1e;
}

.inline_callout-alert_shaded .alert_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-alert_shaded .alert_body {
    font-size: 0.8rem;
}

/* Inline Warning Shaded */
.inline_callout-warning_shaded {
    padding: 8px;
    color: #fff;
    background-color: #ff949d;
    border-left: 4px solid #ff4c5b;
}

.inline_callout-warning_shaded .warning_title {
    font-size: 1rem;
    font-weight: bold;
}

.inline_callout-warning_shaded .warning_body {
    font-size: 0.8rem;
}
