.padded-content {
    gap: 1rem;
    padding: 1rem;
}

.padded-content--no-gap {
    padding: 1rem;
}

.centered-content {
    text-align: center;
    justify-content: center;
}

.row-warning i {
    font-size: 1.5rem;
}

/*
    * Add a label to a form element for accessibility concerns, but hide it from the user.
    * Still useable, but no longer disturbs the design/layout.
    * From: https://codepen.io/ambrwlsn90/pen/ExNWPrv
*/
.label--hidden {
    position: absolute !important;
    height: 1px !important;
    width: 1px !important;
    padding: 0 !important;

    border-width: 0 !important;
    
    overflow: hidden !important;
    white-space: nowrap !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
}





.breadcrumbs-container ol {
    list-style: none;
}

.breadcrumbs-container li {
    display: inline-block;
}

.breadcrumbs-container li:not(li:last-of-type)::after {
    content: "/";
    margin: 0 4px;
}

.breadcrumbs {
    margin: 0;
    padding: 1rem;
    font-size: 0.8rem;
}

.breadcrumbs--search-results {
    margin: 0;
    padding: 0;
}

/*
    * Extend .search {} in _header.scss
*/
.search {
    width: calc(100% - 8px);
    height: 48px;
    padding: 0;
    padding-left: 8px;

    color: #727179;

    border: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-outset);
}





.link {
    padding: 8px 0;
}

.link a {
    text-decoration: none;
}

.link i {
    padding-right: 4px;
    font-size: 1.15rem;
}

.link div {
    display: inline-block;
    position: relative;
    top: -4px;
}

@media (min-width: 768px) {

    .link {
        padding: 12px 0 8px 0;
    }

}





/*
    * Extend .card {} in styles-light.css, & styles-dark.css
*/
.card {
    padding: 1rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-outset);

    scroll-snap-align: center;
    scroll-snap-stop: always;
    scroll-margin: -1rem;
}

.card__title {
    font: var(--font-heading);
}

.card i {
    position: relative;
    top: 3px;
    padding-left: 4px;
    font-size: 1.25rem;
}





.heading {
    font: var(--font-heading);
}

.heading i {
    position: relative;
    top: 3px;
}

.subheading {
    font: var(--font-subheading);
}

.subheading--underline {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-400);
}

.subheading--small-italic {
    padding-bottom: 16px;
    font-size: 0.8rem;
    font-style: italic;
}





/*
    * Extend .button {} in styles-light.css & styles-dark.css
*/
.button {
    display: inline-block;
    padding: 1rem;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-outset);
    cursor: pointer;
    text-align: center;
    transition: var(--transition-time);
}

.button:hover {
    color: var(--blue-400);
    transition: var(--transition-time);
}





.table {
    width: 100%;
    margin-bottom: 1rem;
    vertical-align: top;
  }

.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    border-bottom-width: 1px;
}

.table > tbody {
    vertical-align: inherit;
}

.table > thead {
    vertical-align: bottom;
}

.table-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}





.pagination > ul > li {
    display: inline-block;
    margin: 0 4px;
    padding: 1rem;
    box-shadow: var(--shadow-outset);
    border-radius: var(--border-radius);    
    text-align: center;
    cursor: pointer;
}




/*
    * When a customer submits a ticket via their email client, remove the inline styles.
    * TODO: These are the only one's I've seen so far. Check to see what other clients do.
*/
.zd-comment-pre-styled * {
    margin: inherit !important;
    color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;

}



/*
    * These styles change the "CC" input field for new and existing requests
*/
#request_comment_body, #request_description {
    width: 100%;
}

ul[data-hc-pills-container] li:last-child input {
    height: 1.75rem;
}

ul[data-hc-pills-container] li[data-hc-pill="true"][aria-invalid="true"] {
    padding: initial;
    border: 1px solid var(--red-200);
}

.request-page__add-cc li,
.request_cc_emails li {
    padding: initial;
}
