/* ================================
    #Header-Area
================================ */

.header {
    height: 128px;
    align-items: center;
}





.site-brand {
    display: flex;
    align-items: center;
}

.site-brand:hover {
    opacity: 0.5;
}

.logo {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.site-title {
    display: inline-block;
    margin: 0;
    padding-left: 12px;
    
    font: var(--font-heading);
    font-weight: 700;
}





/* ================================
    #Header-Area
================================ */

/*
    Brand Menu
*/
.menu {
    display: none;

    position: absolute;
    right: 5rem;

    width: 400px;
    padding: 1.5rem 0;

    border-radius: 0 0 var(--border-radius--md) var(--border-radius--md);
    box-shadow: var(--shadow-outset);

    overflow: hidden;

    z-index: 3;
}

.menu.is-visible {
    display: block;
}




.list-wrapper ul {
    display: flex;
    flex-wrap: wrap;
}

.menu-item {
    width: 33%;
    padding: 1rem 1.5rem;
    text-align: center;
    cursor: pointer;
}

.menu-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item__logo {
    margin-bottom: 0.75rem;
    font-size: 1.5rem;
}

.menu-item img.menu-item__logo {
    width: 24px;
    height: 24px;
}

@media (max-width: 768px) {
    .menu {
        right: 0;
        width: 100%;
    }
}

.menu-item--user {
    width: 100%;
    padding: 0.5rem 0.75rem;
    border-bottom: none !important;
}

.menu-item--user a {
    flex-direction: row;
    justify-content: center;
}

.menu-item--user .menu-item__logo {
    margin: 0.75rem;
}




/*
    Subheading Navigation Link
*/
.subheader {
    min-height: 40px;
}

.subheader-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.subheader-items li {
    display: inline;
    padding-left: 1.5rem;
    line-height: 24px;
}

.subheader-items li a {
    display: flex;
    align-items: center;
}

.subheader-items li i {
    padding: 0 0.125rem;
}

@media (max-width: 576px) {
    ul.subheader-items { 
        justify-content: center; 
    }
}





@media (max-width: 768px) {
    .header {
        height: 96px;
    }

    .logo {
        width: 64px;
        height: 64px;
    }

    .site-title {
        font-size: 1.25rem;
    }

    .subheader-items li {
        padding: 0 0.5rem;
    }

    .subheader-items li i {
        display: none;
    }
}