/* ================================
    #Header-Area
================================ */

.header {
    height: 128px;
    align-items: center;
}

.site-brand {
    display: flex;
    align-items: center;
}

.site-brand:hover {
    opacity: 0.5;
}

.logo {
    display: inline-block;
    width: 80px;
    height: 80px;
}

.site-title {
    display: inline-block;
    margin: 0;
    padding-left: 12px;
    
    font: var(--font-heading);
    font-weight: 700;
}

.subheader {
    min-height: 40px;
}

.subheader-items {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.subheader-items li {
    display: inline;
    padding-left: 1.5rem;
    line-height: 24px;
}

.subheader-items li a {
    display: flex;
    align-items: center;
}

.subheader-items li i {
    padding-right: 0.25rem;
}

@media (max-width: 576px) {
    ul.subheader-items { 
        justify-content: center; 
    }
}

@media (max-width: 768px) {
    .header {
        height: 96px;
    }

    .logo {
        width: 64px;
        height: 64px;
    }

    .site-title {
        font-size: 1.25rem;
    }

    .subheader-items li {
        padding: 0 0.5rem;
    }

    .subheader-items li i {
        display: none;
    }
}