/* ================================
    #Banner-Area
================================ */
.banner {
    position: absolute;
    justify-content: center;
    width: 100%;
    
    transition: var(--transition-time);
}

.banner__content {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 24px 48px;

    color: var(--platinum-800);
    background-color: #{$notification_color};

    border-radius: 0 0 var(--border-radius--xl) var(--border-radius--xl);
    box-shadow: var(--shadow-outset);
}

.banner__content:hover {
    background-color: var(--platinum-600);
}

.banner a {
    transition: var(--transition-time);
}

.banner a:hover {
    transition: var(--transition-time);
}

.banner__content i {
    align-self: center;
    padding-right: 12px;
    font-size: 1.5rem;
}

.banner__content div {
    line-height: 26px;
}





/* ================================
    #Hero-Area
================================ */
.hero {
    align-items: center;
    justify-content: center;
    height: calc(100vh - 136px);
    background: 
        linear-gradient( rgba(19, 41, 75, 0.75), rgba(19, 41, 75, 0.75) ),
        url($assets-hero_banner-jpg) center center / cover no-repeat fixed;
}

.indicator-arrow {
    position: absolute;
    align-self: flex-end;
    padding-bottom: 3rem;

    color: var(--platinum-800);
    font-size: 4rem;

    text-align: center;
}





/* ================================
    #Quick-Actions
================================ */
.scrolling-content {
    align-items: stretch;
    justify-content: center;
    flex-flow: row nowrap;
    overflow-x: auto;
    scroll-snap-type: inline proximity;
    -webkit-overflow-scrolling: touch;
}

.canteen-branded {
    display: none;
}





/* ================================
    #Common-Questions
================================ */
.question-block {
    display: none;
    flex-flow: row nowrap;
    overflow-x: auto;
    scroll-snap-type: inline proximity;
    -webkit-overflow-scrolling: touch;
}

.question-block--active {
    display: flex;
}





/* ================================
    #New-Articles-Feed
================================ */
.new-article-item {
    
    padding-bottom: 1rem;
}

.new-article-item div {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--platinum-400);
}
