/*
    #Flex-Gaps
*/
.padded-content {
    gap: 1.5rem;
    padding: 1.5rem 2.5rem;
}

.padded-content--no-gap {
    padding: 1.5rem 2.5rem;
}

/*
    #Flex-Alignment
*/
.center-align {
    justify-content: center;
}

.center-align-self {
    align-self: center;
}

.right-align {
    justify-content: end;
}

/*
    #Margin-Utilities
*/
.mt-none {
    margin-top: 0;
}

.mb-none {
    margin-bottom: 0;
}

.mx-lg {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.ms-lg {
    margin-left: 2.5rem;
}

.me-md {
    margin-right: 1.5rem;
}

/*
    #Padding-Utilities
*/
.pb-none {
    padding-bottom: 0;
}

.pb-sm {
    padding-bottom: 1rem;
}

.pb-lg {
    padding-bottom: 2.5rem;
}

.px-sm {
    padding-left: 1rem;
    padding-right: 1rem;
}

.px-md {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.px-md:last-of-type {
    padding-right: 0;
}

.py-sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.py-md {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.py-lg {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.ps-sm {
    padding-left: 1rem;
}

.ps-md {
    padding-left: 1.5rem;
}