.padded-content {
    gap: 1rem;
    padding: 1rem;
}

.padded-content--no-gap {
    padding: 1rem;
}

.centered-content {
    text-align: center;
    justify-content: center;
}

.no-padding--bottom {
    padding-bottom: 0;
}

.no-margin--bottom {
    margin-bottom: 0;
}