.padded-content {
    gap: 1rem;
    padding: 1rem;
}

.padded-content--no-gap {
    padding: 1rem;
}

.centered-content {
    text-align: center;
    justify-content: center;
}

.row-warning i {
    font-size: 1.5rem;
}
