/* ================================
    #Override-Styles
================================ */
* {
    box-sizing: border-box;
}

body {
    font: var(--font-body);
}

p {
    margin-bottom: 1rem;
}

h1 {
    margin-top: 0;
    font-size: 2rem;
    font-weight: 700;
}

h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4, h5, h6 {
    font-size: 1rem;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.ul--default {
    padding-left: 2rem;
    list-style: circle;
}

li {
    padding: 8px 0;
}





a {
    text-decoration: none;
    transition: var(--transition-time);
}

a:hover {
    text-decoration: none !important;
    transition: var(--transition-time);
    cursor: pointer;
}





button {
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    text-transform: none;
    border: none;
    cursor: pointer;
}

button:hover {
    transition: var(--transition-time);
}





label {
    align-self: center;
}

select {
    min-height: 37px;
    border: 2px solid var(--gray-500);
    border-radius: var(--border-radius);
}

textarea:focus, input:focus, select:focus {
    outline: 1px solid #22212d;
}





details {
    margin-bottom: 1rem;
}

/*
    * Extend summary in _footer.scss
*/
summary {
    padding: 1rem 0;
}

summary:hover {
    cursor: pointer;
}

details[open] {
    padding-bottom: 1rem;
}





@media (min-width: 768px) {
    .col-md-6 {
      flex: 0 0 auto;
      width: calc(50% - 0.75rem);
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: calc(25% - 1.125rem);
    }
}
