.pagination {
    padding: 1.5rem 0;
}

.pagination > ul > li {
    display: inline-block;
    margin: 0 0.5rem;
}

.pagination > ul > li > a {
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
    border: none;
    border-radius: var(--border-radius--md);
    cursor: pointer;
    text-align: center;
    transition: var(--transition-time);
}
