.pagination > ul > li {
    display: inline-block;
    margin: 0 4px;
    padding: 0.5rem;
    box-shadow: var(--shadow-outset);
    border-radius: var(--border-radius--md);    
    text-align: center;
    cursor: pointer;
}
