.search-filters {
    display: flex;
    column-gap: 1rem;
    overflow: auto hidden;
    -webkit-overflow-scrolling: touch;
}

.search-filters > li {
    display: inline-block;
    white-space: nowrap;
}
