/*
    * Extend .search {} in _header.scss
*/
.search {
    width: 100%;
    height: 48px;
    padding: 0;
    padding-left: 8px;

    color: #727179;

    border: 0;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-outset);
}
