.source-filters {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.search-filters {
    display: flex;
    flex-flow: column;
    gap: 0.5rem;
    padding-bottom: 1rem;
}

.search-filters > li {
    white-space: nowrap;
}

.search-result {
    padding: 1rem 0;
    border-bottom: 1px solid var(--gray-300);
}

.search-result em {
    color: var(--crimson-400);
}