.toast {
    display: none;
    position: fixed;

    top: 40px;
    left: 50%;
    transform: translateX(-50%);

    width: 320px;

    padding-top: 8px;

    box-shadow: var(--shadow-outset);
    border-radius: var(--border-radius);

    opacity: 0;
    text-align: center;

    z-index: 2;
}

@media (min-width: 768px) {

    .toast {
        display: block;
    }
}

.toast > .toast__title {
    padding-top: 8px;

    font-size: 1.25rem;
    font-weight: bold;
}

.toast > .toast__description {
    padding-bottom: 8px;
}





.toast--info {
    color: var(--gray-700);
    background-color: var(--blue-400);
}

.toast--info::before {
    font-family: 'Phosphor';
    font-size: 2rem;
    text-align: center;
    content: "\edb6";
}





.toast--success {
    color: var(--gray-700);
    background-color: var(--green-200);
}

.toast--success::before {
    font-family: 'Phosphor';
    font-size: 2rem;
    text-align: center;
    content: "\eed6";
}





.toast--warning {
    color: var(--gray-100);
    background-color: var(--yellow-200);
}

.toast--warning::before {
    font-family: 'Phosphor';
    font-size: 2rem;
    text-align: center;
    content: "\eef0";
}





.toast--alert {
    color: var(--gray-700);
    background-color: var(--red-200);
}

.toast--alert::before {
    font-family: 'Phosphor';
    font-size: 2rem;
    text-align: center;
    content: "\ee8a";
}
