.heading {
    font: var(--font-heading);
}

.heading i {
    position: relative;
    top: 3px;
}

.subheading {
    font: var(--font-subheading);
}

.subheading--underline {
    padding-bottom: 8px;
    border-bottom: 1px solid var(--gray-400);
}

.subheading--small-italic {
    padding-bottom: 16px;
    font-size: 0.8rem;
    font-style: italic;
}

.subheading--annotation {
    margin-top: 0;
    font-size: 0.8rem;
    font-style: italic;
}

.body--small {
    font-size: 0.75rem;
    line-height: 0.25rem;
}