.heading {
    font: var(--font-heading);
}

.subheading {
    font: var(--font-subheading);
}

.font-body {
    font: var(--font-body);
}

.font-body--large {
    font: var(--font-body--large);
}

.font-body--emphasis {
    font: var(--font-body--emphasis);
}