:root {
    /* ================================
        #BRAND-COLORS
    ================================ */

    /* Raisin Black */
    --raisin-100: #0c0c11;
    --raisin-200: #111319;
    --raisin-300: #171922;
    --raisin-400: #1d1f2a;
    --raisin-500: #4a4c55;
    --raisin-600: #77797f;
    --raisin-700: #a5a5aa;
    --raisin-800: #d2d2d4;

    /* Platinum */
    --platinum-100: #5e5e5e;
    --platinum-200: #8d8d8c;
    --platinum-300: #bcbcbb;
    --platinum-400: #ebebea;
    --platinum-500: #efefee;
    --platinum-600: #f3f3f2;
    --platinum-700: #f7f7f7;
    --platinum-800: #fbfbfb;

    /* Space Cadet */
    --space-cadet-300: #0d1d35;
    --space-cadet-400: #13294b;
    --space-cadet-500: #5a6981;

    /* Yale Blue */
    --yale-300: #143766;
    --yale-400: #1d4f91;
    --yale-500: #6184b2;

    /* Saffron */
    --saffron-300: #a66d24;
    --saffron-400: #ed9b33;
    --saffron-500: #f2b970;

    /* Jungle */
    --jungle-300: #35745e;
    --jungle-400: #4ca686;
    --jungle-500: #82c1aa;

    /* Very Peri */;
    --peri-300: #474878;
    --peri-400: #6667ab;
    --peri-500: #9495c4;

    /* Crimson */
    --crimson-300: #951b2b;
    --crimson-400: #d5263d;
    --crimson-500: #e26777;





    /* ================================
        #TYPOGRAPHY
    ================================ */

    --font-heading: normal normal 300 1.75rem 'Roboto', Arial, sans-serif;
    --font-subheading: normal normal 700 1rem 'Roboto', Arial, sans-serif;
    --font-subheading--large: normal normal 700 1.75rem 'Roboto', Arial, sans-serif;
    --font-body--large: normal normal 400 1rem 'Roboto', Arial, sans-serif;
    --font-body: normal normal 400 0.75rem/1.5 'Roboto', Arial, sans-serif;
    --font-body--emphasis: italic normal 400 0.75rem/1.5 'Roboto', Arial, sans-serif;





    /* ================================
        #OTHER-VARIABLES
    ================================ */

    --border-radius--sm: 2px;
    --border-radius--md: 4px;
    --border-radius--lg: 8px;
    --border-radius--xl: 24px;

    --shadow-outset: 0px 4px 12px rgba(0, 0, 0, 0.1);
    --shadow-inset: 0px 4px 12px -4px rgba(0, 0, 0, 0.1) inset;
    --transition-time: 0.2s;
}

/* Set manifest variables here so SCSS plays nicely with the Zendesk asset reference */
$notification_color: '$notification_color';
$assets-hero_banner-jpg: '$assets-hero_banner-jpg';
