/*
    * When a customer submits a ticket via their email client, remove the inline styles.
    * TODO: These are the only one's I've seen so far. Check to see what other clients do.
*/
.zd-comment-pre-styled * {
    margin: inherit !important;
    color: inherit !important;
    background-color: inherit !important;
    font-size: inherit !important;

}





/*
    * These styles change the "CC" input field for new and existing requests
*/
#request_comment_body, #request_description {
    width: 100%;
}

ul[data-hc-pills-container] li:last-child input {
    height: 1.85rem;
}

ul[data-hc-pills-container] li[data-hc-pill="true"][aria-invalid="true"] {
    padding: initial;
    border: 1px solid var(--red-200);
}

.request-page__add-cc li,
.request_cc_emails li {
    padding: initial;
}





/*
    * These styles override the default Zendesk TinyMCE article builder styles.
    * Colors are replaced with brand colors and font sizes are adjusted to fit the rest of the site.
*/

/*
    * 4.0.1
    * Fix authors setting the black color to override link styles and text disappearing in dark mode
*/
.wysiwyg-color-black,
.wysiwyg-color-black70,
.wysiwyg-color-black60,
.wysiwyg-color-black50,
.wysiwyg-color-black40,
.wysiwyg-color-black30,
.wysiwyg-color-black20,
.wysiwyg-color-black10 {
    color: inherit;
}

.wysiwyg-color-blue,
.wysiwyg-color-blue70,
.wysiwyg-color-blue80,
.wysiwyg-color-blue90,
.wysiwyg-color-blue110,
.wysiwyg-color-blue120,
.wysiwyg-color-blue130 {
    color: var(--yale-400);
}

.wysiwyg-color-red,
.wysiwyg-color-red70,
.wysiwyg-color-red80,
.wysiwyg-color-red90,
.wysiwyg-color-red110,
.wysiwyg-color-red120,
.wysiwyg-color-red130 {
    color: var(--crimson-400);
}

.wysiwyg-color-yellow,
.wysiwyg-color-yellow70,
.wysiwyg-color-yellow80,
.wysiwyg-color-yellow90,
.wysiwyg-color-yellow110,
.wysiwyg-color-yellow120,
.wysiwyg-color-yellow130 {
    color: var(--saffron-400);
}

.wysiwyg-color-green,
.wysiwyg-color-green70,
.wysiwyg-color-green80,
.wysiwyg-color-green90,
.wysiwyg-color-green110,
.wysiwyg-color-green120,
.wysiwyg-color-green130 {
    color: var(--jungle-400);
}

.wysiwyg-font-size-x-large {
    font: var(--font-heading);
}

.wysiwyg-font-size-large {
    font: var(--font-subheading);
}

.wysiwyg-font-size-medium,
.wysiwyg-font-size-small {
    font: var(--font-body);
}
